:root {
    /* *============ CSS-змінні ============ */
    --color-font-body: #5d5200;
    --color-background-body: #dbf3ff;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 20px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}
.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--color-title-section);
}
.title-subsection {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    color: var(--color-title-subsection);
}

/* *======================================= */

/*! Фон елементу */
.container {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 190px;
    width: calc(50% - 20px);
    margin: 10px;
    box-shadow:
        0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/** bgi -> bgr -> bgp -> bgs */
/*? cat */
.box:nth-child(1) {
    background-color: #9c27b0;
    background-image: url(https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

/*? bird */
.box:nth-child(2) {
    background-color: #009688;
    background-image: url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/Ёжик.png/revision/latest?cb=20180209130328&path-prefix=ru);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 50px;
}

/*? dog */
.box:nth-child(3) {
    background-color: skyblue;
    background-image: url("../images/dog.webp");
    background-repeat: repeat-y;
    background-position: left;
}

/*? turtle */
.box:nth-child(4) {
    background-color: #3f51b5;
    background-image: url("../images/turtle.webp");
}


/*! 2.Реалізація багатошарового фону */
.overlay {
    width: 1600px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-image: 
        linear-gradient(
            to right,
            rgba(255, 0, 0, 0.2),
            rgba(0, 255, 0, 0.2)
        ),
        url("../images/fish.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/*! 3.Застосування декоративних елементів через псевдоелементи */
/*? декор-іконка у кнопці */
.button {
    display: inline-flex;
    align-items: center;
    padding: 20px 30px;
    background-color: teal;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 14px;
}
.button::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    margin-right: 5px;
    background-image: url(../images/turtle.webp);
    background-size: contain;
}
.button:hover,
.button:focus {
    background-color: palevioletred;
  }