:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #220c0c;
    --color-background-body: #ffe8fb;
    --color-title-lesson: #4b4200;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    /* padding: 20px 20px 150px; */
    padding: 20px 0px 150px;
    /* min-height: 100vh; */
    /* display: flex; */
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
    /* ! for position: fixed */
    /* margin-bottom: 350px; */
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.part {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* margin: 0 auto; */
    min-height: 100vh;
    /* width: 100vw; */
    /* outline: 1px solid red; */
}

/* *======================================= */
/* ! */
/* .part_1 {
    display: none;
} */
/*! 1.Адаптивна (adaptive) та Чутлива (responsive) верстки */
/** 01. Від 320px до 599px - orange */
/*? Загальні стилі container */
.container {
    min-width: 320px;
    /* ! ширина в'юпорту, нижче якої дизайн не підтримується */
    margin: 0 auto;
    padding-top: 20px;
    background-color: orange;
    /*?  Text styles  */
    text-align: center;
    height: 200px;
    font-size: 32px;
    /* white-space: nowrap; */
}

/*? Встановлюємо базову (початкову) ширину adaptive контейнера. */
.container.adaptive {
    max-width: 320px;
    /*! початкове значення максимальної ширини */
    margin-bottom: 40px;
}

/*? Встановлюємо максимальну ширину responsive контейнера. */
.container.responsive {
    max-width: 1140px;
}

.label {
    margin-bottom: 20px;
    color: white;
}

/*? Приховуємо зайві заголовки медіазапитів  */
.label-2,
.label-3,
.label-4 {
    display: none;
}


/*? Медіа-запити: */
/** 02. Від 600px до 899px - skyblue */
@media screen and (min-width: 600px) {
    .container {
        background-color: skyblue;
    }

    .container.adaptive {
        max-width: 600px;
    }

    .label-1,
    .label-3,
    .label-4 {
        display: none;
    }

    .label-2 {
        display: block;
    }
}

/** 03. Від 900px до 1139px - lightgreen */
@media screen and (min-width: 900px) {
    .container {
        background-color: lightgreen;
    }

    .container.adaptive {
        max-width: 900px;
    }

    .label-1,
    .label-2,
    .label-4 {
        display: none;
    }

    .label-3 {
        display: block;
    }
}

/** 04. Від 1140px до ~ - tomato */
@media screen and (min-width: 1140px) {
    .container {
        background-color: tomato;
    }

    .container.adaptive {
        max-width: 1140px;
    }

    .label-1,
    .label-2,
    .label-3 {
        display: none;
    }

    .label-4 {
        display: block;
    }
}


/* ! */
/* .part_2 {
    display: none;
} */
/*! 2.Стратегія Mobile First */
.mobile-first {
    margin-top: 400px;
}
/** 01. Від 320px до 767px - orange */
/*? Загальні стилі container */
.container2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
}

.element {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.element:nth-child(1) {
    background-color: #F44336;
}
.element:nth-child(2) {
    background-color: #3F51B5;
}
.element:nth-child(3) {
    background-color: #4CAF50;
}
.element:nth-child(4) {
    background-color: #00BCD4;
}
.element:nth-child(5) {
    background-color: #E91E63;
}
.element:nth-child(6) {
    background-color: #009688;
}

/** SASS loop for background color generation. */
/* $colors: "#F44336", "#3F51B5", "#4CAF50", "#00BCD4", "#E91E63", "#009688"; */

/* @each $color in $colors {
    $idx: index($colors, $color);
    .element:nth-child(#{$idx}) {
        background-color: #{$color};
    }
} */

/*? Медіа-запити: */
/** 02. Від 768px до 1023px */
@media screen and (min-width: 768px) {
    .container2 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .element {
        flex-basis: calc((100% - 10px) / 2);
        font-size: 32px;
    }
}

/** 02. Від 1024px до ~ */
@media screen and (min-width: 1024px) {
    .container2 {
        gap: 15px;
    }
    .element {
        flex-basis: calc((100% - 30px) / 3);
    }
}





/*? ______________________________________________________ */
/* ! */
.part_0 {
    display: none;
}

/*! 0.Заголовок */