//! ----------- 01.Міксін outline -----------
// outline: 1px dotted yellowgreen;

//todo var.1 
@mixin outline($size: 1px, $type: solid, $color) {
    outline: $size $type $color;
}

//todo var.2 
// @mixin outline($size: 1px, $type: solid, $color: tomato) {
//     outline: $size $type $color;
// }


//!--- 02.Міксін для 01.@each - цикла для додавання фонових зображень в advantages -----------
//todo var.2
@mixin generateIcons($iconList) {
    @each $iconName in $iconList {
        .advantages-list__item--#{$iconName} {
            background-image: 
            url(../images/advantages_#{$iconName}.png);
        }
    }
}
