// ? =============== CSS-змінні ======================
// * ================= colors ==================
// $color-light: #d0e4ff;
$color-light: #FFFFFF;
$color-font-main: #c7c7c7;
$color-font-second: #dcdcdc;
$color-font-third: #d8d8d8;
$color-placeholder: #959595;
$color-background-brand: #012d63;
$color-brand-hover : #c33bde;
$color-buttons-background: #8e32c6;
$color-buttons-hover: #26c6ea;
$color-background-footer: #021635;
$color-border: #9b9b9b;
// * ================= fonts ===================
$font-family: "Roboto", sans-serif;
$second-family: "Playfair Display", sans-serif;
$third-family: "PT Serif", sans-serif;

