img {
    display: block;
    /* max-width: 100%; */
    height: auto;
}

.box {
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
    width: 600px;
    /* height: 311px; */
    border: 2px solid #696969;
    border-radius: 8px;
    /* box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23); */
    box-shadow: 12px 12px 18px rgba(27, 27, 26, 0.47);
    /* outline: 2px solid tomato; */
}

/* ! for test */
.box_hidden-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    /* * for work */
    /* height: 311px;
    background-color: white; */
    /* todo for test */
    height: 307px;
    background-color: #8cb53f;
    border: #3f51b5 2px solid;
}

/* ! for test */
.box_hidden-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
    /* * for work */
    /* height: 311px;
    background-color: white; */
    /* todo for test */
    height: 307px;
    background-color: #8cb53f;
    border: #3f51b5 2px solid;
}

.box_image {
    animation-name: move;
    /* animation-direction: alternate-reverse; */
    animation-direction: alternate;
    animation-duration: 55s;
    animation-timing-function: linear;
    animation-delay: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        transform: translatex(0);
    }
    100% {
        transform: translatex(1319px);
        /* transform: translatex(calc(100vw - 166px)); */
    }
}