:root {
    /* *============ ПЕРЕМЕННЫЕ ЦВЕТА body ============ */
    --color-font-body: #2a2a2a;
    --color-background-body: #fcdeff;
    /* *============================================== */
}


body {
    font-family: 'Montserrat', serif;
    /* color: #1f373d; */
    color: var(--color-font-body);
    background-color: var(--color-background-body);

}

.item {
    /* width: 100px; */
    /* height: 100px; */

    /* min-width: 100px; */
    /* max-width: 300px; */
    /* flex-basis: 200px; */
    border: 1px solid rgb(24, 0, 179);
    background-color: rgb(255, 255, 159);
}

.parent-list {
    /* width: 200px; */
    /* height: 600px; */

    /* padding: 5px; */
    /* display: flex; */

    display: grid;
    /*? Три столбца шириной 100px каждый */
    grid-template-columns: repeat(3, 100px); 
    /*? Три строчки высотой 100px каждый */
    grid-template-rows: repeat(3, 100px); 
    /*? Расстояние между ячейками */
    gap: 10px; 

    border: 10px solid tomato;
    background-color: rgb(202, 132, 255);
}