:root {
    /* *============ CSS-змінні ============ */
    --color-font-body: #2a2a2a;
    --color-background-body: #fcdeff;
}

body {
    padding: 10px;
    font-family: 'Montserrat', serif;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}
/* *========================================= */


.item {
    width: 100px;
    height: 100px;

    /* min-width: 100px; */
    /* max-width: 300px; */
    /* flex-basis: 200px; */

    /* flex-grow: 1; */

    border: 1px solid rgb(24, 0, 179);
    background-color: #ffff9f;
}

.item:nth-child(1) {
    /* align-self: flex-start; */
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    background-color: #e7ffba;
}

.parent-list {
    /* width: 200px; */
    /* height: 600px; */

    /* padding: 5px; */
    display: flex;

    /* display: grid; */
    /*? Три столбца шириной 100px каждый */
    /* grid-template-columns: repeat(3, 100px);  */
    /*? Три строчки высотой 100px каждый */
    /* grid-template-rows: repeat(3, 100px);  */
    /*? Расстояние между ячейками */
    /* gap: 10px;  */

    border: 10px solid tomato;
    background-color: rgb(202, 132, 255);
}

/*! Гумовий контент​ */
.container {
    display: flex;
    gap: 8px;
    max-width: 960px;
    margin: 20px auto;
    border: 2px solid blue;
}

.sidebar {
    /* width: 200px; */
    flex-basis: 200px;
}

.content {
    /* flex-basis: 760px; */
    flex-grow: 1;
}

.sidebar,
.content {
    height: 300px;
    padding: 20px;
    border-radius: 4px;
    background-color: #e7ffba;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


/*! Футер картки​ */
.container2 {
    display: flex;
    /* gap: 16px; */
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    outline: 2px solid green;
}

.card {
    display: flex;
    flex-direction: column;
    /* max-width: 320px; */
    flex-basis: 320px;
    margin: 8px;
    padding: 10px;
    background-color: #c7f0ff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.content2 {
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px dashed tomato;
    border-radius: 4px;
}

.meta {
    padding: 10px;
    text-align: center;
    background-color: teal;
    color: white;
    border-radius: 4px;
}

/*! flex-shrink: частка​ */
.container3 {
    width: 95vw;
    width: 600px;
    margin-top: 10px;
    display: flex;
    /* gap: 16px; */
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    outline: 2px solid red;
}
.square-one {
    /* flex: flex-grow flex-shrink flex-basis */
    /* flex: 2 1 300px; */
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 300px;
    border: 2px solid blue;
}
.square-two {
    /* flex: 1 2 300px; */
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 300px;
    border: 2px solid green;
}


/*! align-self​ */
.card3 {
    display: flex;
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fffdee;
    border-radius: 4px;
}
.img-2 {
    /* align-self: stretch; */
    align-self: flex-start;
    /* align-self: center; */
    /* align-self: flex-end; */
}


/*! order​​​ */
.item.item2 {
    font-weight: 700;
    font-size: larger;
    display: flex;
    flex-basis: 300px;
    justify-content: center;
    align-items: center;
}

.item.item2:nth-child(1) {
    order: -1;
    border-top-left-radius: 40px;
    background-color: red;
}

.item.item2:nth-child(2) {
    order: 4;
    max-width: 200px;
    background-color: skyblue;
}

.item.item2:nth-child(3) {
    order: 3;
    max-width: 200px;
    background-color: violet;
}

.item.item2:nth-child(4) {
    order: 5;
    max-width: 200px;
    background-color: green;
}

.item.item2:nth-child(5) {
    order: 2;
    border-top-right-radius: 40px;
    background-color: orange;
}

.parent-list.holder {
    margin: 0 auto;
    width: 610px;
    flex-wrap: wrap;
    border: 5px solid black;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
}


/*! Техніка grids — cітка елементів */
.card-set {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
    /* row-gap: 10px; */
    /* column-gap: 10px; */

    border: 10px solid tomato;
    background-color: rgb(202, 132, 255);
}

.item3 {
    height: 100px;
    flex-basis: calc((100% - 20px) / 3);
    border: 1px solid rgb(24, 0, 179);
    background-color: rgb(255, 255, 159);
}