:root {
    /** =============== CSS-змінні ============== */
    --color-font-body: rgb(118, 51, 0);
    --color-background-body: #bbffff;
    /* *========================================= */
}

/** ========== Номалізация (+ наслідування) ====== */
body {
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}
h1,h2,h3,h4,h5 { 
    padding: 0;
    margin: 0;
}
/* *============================================== */


/*?  ===== Загальнi класи стилізації шрифтів ===== */
/** ============= Основна стилізація ============= */
.general-style {
    font-family: inherit;
    font-weight: 400;
    font-size: 28px;

    color: inherit;
    /* color: red; */
}
/** ============= Варіанти font-family ============= */
/* .courier {
    font-family: 'Courier New', Courier, monospace;
}
.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.monospace {
    font-family: monospace;
}
.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
/* ?============================================== */



/* ! === Властивість font-family === */
.general-style1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ! === Властивість font-weight === */
.general-style1 {
    /* font-weight: 400; normal  */
    font-weight: 400;
    /* font-weight: 700; bold - аналог тегу <b> */
    /* font-weight: 700; */

    /* font-weight: 100; */
    /* font-weight: 200; */
    /* font-weight: 300; */
    /* font-weight: 400; */
    /* font-weight: 500; */
    /* font-weight: 600; */
    /* font-weight: 700; */
    /* font-weight: 800; */
    /* font-weight: 900; */
}

/* ! === Властивість font-size === */
.general-style1 {
    font-size: 10px;
    /* font-size: 20px; */
    /* font-size: 30px; */
    /* font-size: 40px; */
}

/* ! === Властивість line-height === */
.general-style1 {
    /* line-height = auto (або normal) це 1.2 */
    line-height: normal; /* 1.2 */
    /* line-height: 42px; то це = 1.5, якщо font-size: 28px */
    /* line-height: 42px;  */
    /* line-height: 1.2;  */
    /* line-height: 1.5;  */
    /* line-height: 2;  */
    /* line-height: 4;  */
}

/* ! === Властивість font-style === */
.general-style1 {
    font-style: normal;
    /* font-style: italic; аналог тегу <i> */
    /* font-style: italic;  */
}

/* ! === Властивість text-decoration === */
.general-style1 {
    /* text-decoration: underline; аналог тегу <u> */
    text-decoration: underline;
    /* text-decoration: none; */
}

/* ! === Властивість text-shadow === */
.general-style1 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

/* ! === Властивість text-transform === */
.general-style1 {
    text-transform: uppercase;
    /* text-transform: lowercase ; */
    /* text-transform: capitalize; */
    /* text-transform: none; */
}

/* ! === Властивість text-align === */
.general-style1 {
    text-align: center;
    /* text-align: left; */
    /* text-align: right; */
}
