/*!  Властивості шрифту та оформлення тексту */
/** завантаження шрифта 'Tangerine' Bold 700 з локальної папки */
@font-face {
    font-family: 'Tangerine';
    src: url('../../lesson-5/photoblog/fonts/Tangerine-Regular.ttf') format('woff2');
    src: url('../../lesson-5/photoblog/fonts/Tangerine-Bold.ttf') format('woff2');
}

.not-stylized {
    padding: 5px;
    outline: 1px solid tomato;
}

.section-title {
    width: 800px;
    margin-top: 20px;
    padding: 20px;
    font-family: "Tangerine";
    font-size: 70px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    text-align: center;
    color: #ffa9bf;
    text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.5);
    border: 4px solid #ffa9bf;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(12, 12, 12, 0.7);
    background-color: #6495ed;
}


/*!  Властивість font-family */
/** -----  Загальні стилі -----*/
.box-main-add-style {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0083da;
    text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.5);
    border: 3px solid #0083da;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(12, 12, 12, 0.7);
    background-color: #f8ff93;
}

.form-label-text {
    margin: 0;
    font-family: monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.5);
    color: #004400;
}
/** -------------------------*/
.text-add-style {
    text-align: center;
    margin-bottom: 8px;
}

.form-font-family {
    height: 40px;
    margin-bottom: 13px;
    display: flex;
    /* flex-direction: column; */
    /* gap: 30px; */
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color: #ff6347;
    text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.5);
    border: 1px solid #ff6347;
    border-radius: 10px;
    /* outline: 2px solid tomato; */
}

/** font-family label */
.century {
    font-family: 'Century';
}
.arial {
    font-family: 'Impact';
}
.courier-new {
    font-family: 'Courier New';
}
.monotype-corsiva {
    font-family: 'Monotype Corsiva';
    font-size: larger;
}

.label-hover-focus-active:hover,
.label-hover-focus-active:focus {
    font-weight: 700;
    color: #0083da;
}
.label-hover-focus-active:active {
    font-weight: 400;
    color: #0099ff;
}


/*!  Властивість font-size */
.form-font-size {
    height: 40px;
    margin-bottom: 13px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.form-font-size>label {
    height: 30px;
    display: flex;
    gap: 20px;
    align-items: normal;
    justify-content: center;
}
.form-font-size input {
    width: 200px;
    margin: 0;
}

.form-font-size-btn {
    width: 90px;
    height: 40px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font: inherit;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: 2px solid #0083da;
    border-radius: 10.3108px;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    color: #0083da;
    background-color:transparent;
    scale: 1;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-font-size-btn:hover {
    color: wheat;
    background-color: #0083da;
    scale: 1.03;
}
.form-font-size-btn:active {
    border-color: #0083da;
    color: #f5deb3;
    background-color: #ff6347;
    scale: 1;
}

