:root {
    /* *============ CSS-змінні ============ */
    --color-font-body: #564c00;
    --color-background-body: #dbe2ff;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 20px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}
.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--color-title-section);
}
.title-subsection {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    color: var(--color-title-subsection);
}

/* *======================================= */

/*! 1.Модальне вікно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    padding: 15px;
    text-align: center;
    background-color: skyblue;
    transform: translate(-50%, -50%);
}
.modal .btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*! 2.Робота з формами */
/*? 2-1.Поля форми - Стилізація форми */
.js-form1 { /* ! */
    min-width: 400px;
    /* flex-basis: 50%; */
    /* flex-basis: 500px; */
    display: grid;

    border: 2px solid #8fa6ff;
    border-radius: 20px;
    padding: 25px 20px;

    box-shadow: 
        8px 8px 12px 8px rgba(30, 36, 55, 0.5),
        inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
    background-color: #c5d1ff;
}

/*? 2-3.Радіо-кнопки (перемикачі) {inline} {block} */
.fieldset1 { /* ! */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fieldset-title {
    font-family: monospace;
    color: brown;
}

/*? 2-4.Радіо-кнопки (перемикачі) */
/* ! */
/* .checkbox-container>label>input {
    display: none;
} */
/* ! */
/* .checkbox-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    justify-content: center;
    gap: 10px;
    color: lightseagreen;
    outline: 2px dashed tomato;
}
.checkbox-container>label>input {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    outline: 1px dotted green;
}
.checkbox-label-description {
    display: inline-block;
    min-width: 100px;
    padding: 5px 10px;
    text-align: center;
    font-weight: 700;
    border: 1px solid darkgreen;
    border-radius: 5px;
    color: inherit;
    background-color: rgb(183, 183, 183);
}
.checkbox-label-description:hover {
    cursor: pointer;
    border: 1px solid lightseagreen;
    color: darkgreen;
    background-color: yellow;
} */

/*? 2-5.Кнопка SUBMIT-button */
/* ! */
/* .button-submit {
    display: none;
} */
/* ! */
.button-submit {
    margin: 0 auto;
    /* padding: 0; */
    padding: 15px;
    font-family: monospace;
    font-weight: 700;
    border: 2px solid darkred;
    border-radius: 10px;
    color: darkgreen;
    fill: darkgreen;
    box-shadow: 4px 4px 6px 4px rgba(30, 36, 55, 0.5);
    background-color: antiquewhite;
}
.button-submit:hover {
    border-color: darkgreen;
    border-radius: 10px;
    color: darkred;
    fill: red;
    background-color: lightblue;
}
.button-submit:active {
    border-color: rgb(0, 143, 0);
    border-radius: 10px;
    color: rgb(184, 0, 0);
    fill: red;
    background-color: rgb(211, 244, 255);
    box-shadow: 2px 2px 6px 2px rgba(30, 36, 55, 0.5);
}

.button-text-1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    color: blueviolet;
    outline: 1px dashed green;
}
.button-text-2 {
    font-family: 'Tangerine';
    font-weight: 700;
    font-size: 32px;
    color: rgb(255, 0, 221);
    outline: 1px dashed green;
}

.button-icon {
    fill: inherit;
    vertical-align: middle;
    outline: 1px dashed red;
}

/* !  */
/* .button-icon:hover {
    fill: red;
} */
.button-submit:hover .button-icon {
    cursor: pointer;
    fill: inherit;
    fill-opacity: 0.8;
    stroke: blue;
    stroke-width: 1px;
    background-color: aqua;
    outline: none;
}


/*! 5.Псевдокласи стану у формах */
/*? 5-1.:enabled і :disabled. Кнопка SUBMIT-input (disabled) */
/* .button-submit:disabled  {
    background-color: lightgray;
    cursor: not-allowed;
} */


/*? 5-2.:checked​ */
/* .form-input:checked {
    outline: 2px solid #2196f3;
    outline-offset: 2px;
}
.form-input:checked + .form-label {
    color: #2196f3;
} */


/*? 5-3.:in-range і :out-of-range​ */
/* .input-age:in-range {
    border-color: #4caf50;
    outline: 2px solid #4caf50;
    outline-offset: 2px;
}
.input-age:out-of-range {
    border-color: #f44336;
    outline: 2px solid #f44336;
    outline-offset: 2px;
} */


/*? 5-4.:required і :optional */
/* .input-name:required {
    border-color: #f4d836;
    outline: 2px solid #f4d836;
    outline-offset: 2px;
} */


/*? 5-5.:valid і :invalid */
/* .input-name:valid  {
    border-color: #4caf50;
    outline: 2px solid #4caf50;
    outline-offset: 2px;
}
.input-name:invalid {
    border-color: #f44336;
    outline: 2px solid #f44336;
    outline-offset: 2px;
}  */

/*? 5-6.:placeholder-shown */
/* .input-name:required {
    border-color: #f4d836;
    outline: 2px solid #f4d836;
    outline-offset: 2px;
}
.input-name:not(:placeholder-shown) {
    border-color: blue;
    outline: 2px solid blue;
    outline-offset: 2px;
}
.input-name:not(:placeholder-shown):valid  {
    border-color: #4caf50;
    outline: 2px solid #4caf50;
    outline-offset: 2px;
}
.input-name:not(:placeholder-shown):invalid {
    border-color: #f44336;
    outline: 2px solid #f44336;
    outline-offset: 2px;
}  */

/*? 5-7.:focus-within​ */
/* .js-form:focus-within {
    border: 2px solid #8fa6ff;
    border-radius: 20px;
} */

/* .js-form:focus-within  { 
    min-width: 400px;
    display: grid;
    border: 2px solid #8fa6ff;
    border-radius: 20px;
    padding: 25px 20px;
    box-shadow: 
        8px 8px 12px 8px rgba(30, 36, 55, 0.5),
        inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
    background-color: #c5d1ff;
} */