:root {
    /* *============ CSS-змінні для body ============ */
    --color-font-body: #800000;
    --color-background-body: #ffffe1;
    /* *============================================== */
}
/* ?============================================== */
body {
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}
/* ?============================================== */


/* ! === Псевдокласи стану === */
/* ? === Псевдоклас :hover === */
.link1 {
    color: teal;
}

/* .link1:hover {
    color: tomato;
} */

/* ? === Псевдоклас :focus === */
.link1:focus,
.link1:hover {
    color: tomato;
}

/* .link1:hover,
.link1:focus {
    color: tomato;
} */

/* ? === Псевдоклас :active === */
.link1:active {
    color: yellow;
    background-color: blue;
}

/* ? === Псевдоклас :visited === */
.link1:visited {
    color: wheat;
}

.link3:visited {
    color: wheat;
}


/* A > B > C + X  */

.list-section-1 .text,
.list-section-2 .text {
    color: blue;
} 