:root {
    /* *============ CSS-змінні ============ */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-font-main: #212121;
    --color-font-second: #757575;
    --color-brand-main: #2196F3;
    --color-button-active: #188CE8;
    --color-background-dark: #2F303A;
    --color-background-light: #F5F4FA;
    /* *========================================== */
    --color-background-another: #E5E5E5;
    --color-background-footer: #2F303A;
    --color-background-footer-icon: rgba(255, 255, 255, 0.1);
    --color-background-backdrop: rgba(0, 0, 0, 0.2);
    --color-background-activity: rgba(47, 48, 58, 0.8);
    --color-background-overlay: rgba(33, 150, 243, 0.9);
    /* *========================================== */
    --color-font-placeholder-modal: rgba(117, 117, 117, 0.5);
    --color-font-footer: rgba(255, 255, 255, 0.6);
    /* *========================================== */
    --color-border-line: #ECECEC;
    --color-borders-portfolio: #EEEEEE;
    --color-border-clients: #AFB1B8;
    --color-border-modal: rgba(33, 33, 33, 0.2);
    /* *========================================== */
}

/*!  Виносимо однакові властивості єлементів до body  */
body {
    font-family: 'Roboto';
}

/*!  Контейнер - обгортає відразу увесь контент сторінки (або секції)  */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    border: 2px dashed #2a2a2a;
}


/* ! === 1.Властивість font-family === */
/*! перевірка завантаження шрифта'Roboto' 400, 500, 700, 900 */
.logo-link-header {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: normal;
    font-style: normal;
    letter-spacing: 0.78px;
    color: var(--color-logo-links-brand);
}

.hero-title {
    /* font-family: 'Roboto'; */
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px; /* 136.364% */
    line-height: 1.36;
    font-style: normal;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-dark);
}


/** стилізация заголовків h2 */
.section-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.08px;
    text-align: center;
    color: #212121;
}





/*! Перший підхід уникнення специфічності*/
/* !============================================== */
/* .navigation>a {
    color: var(--color-logo-links-brand);
} */

/* .navigation>ul>li>a {
    color: var(--color-logo-links-brand);
} */

/* v.2 */
/* .page-header a {
    color: var(--color-logo-links-brand);
} */

/* .features>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* .activities>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* .team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* v.2 */
/* .features>h2,
.activities>h2,
.team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* .team>ul>li>p {
    font-size: 16px;
    color: var(--color-font-main);
} */

/* v.2 */
/* .team p {
    font-size: 16px;
    color: var(--color-font-main);
} */

/* .team>ul>li>h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */

/* v.2 */
/* .team h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* !============================================== */


/*? Другий підхід уникнення специфічності*/
/* ?============================================== */
/* ! */
/* .navigation>a {
    color: var(--color-logo-links-brand);
} */
/* ? */
/* .navigation>.link {
    color: var(--color-logo-links-brand);
} */

/* .footer>.link {
    color: var(--color-logo-links-brand);
} */



/* ! */
/* .navigation>ul>li>a {
    color: var(--color-logo-links-brand);
} */
/* ! v.2 */
/* .page-header a {
    color: var(--color-logo-links-brand);
} */
/* ? */
/* .navigation>.list>.item>.link {
    color: var(--color-logo-links-brand);
} */


/* ! */
/* .features>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! */
/* .activities>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! */
/* .team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! v.2 */
/* .features>h2,
.activities>h2,
.team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ? v.2 */
/* .features>.title,
.activities>.title,
.team>.title {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* ! */
/* .team>ul>li>p {
    font-size: 16px;
    color: var(--color-font-main);
} */
/* ! v.2 */
/* .team p {
    font-size: 16px;
    color: var(--color-font-main);
} */
/* ? */
/* .team>.list>.item>.text {
    font-size: 16px;
    color: var(--color-font-main);
} */

/* ! */
/* .team>ul>li>h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ! v.2 */
/* .team h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ? */
/* .team>.list>.item>.title {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ?============================================== */


/** Третій підхід уникнення специфічності*/
/* *============================================== */
/* ! */
/* .navigation>a {
    color: var(--color-logo-links-brand);
} */
/* ? */
/* .navigation>.link {
    color: var(--color-logo-links-brand);
} */
/*  */
/* .logo-link-header {
    color: var(--color-logo-links-brand);
} */

/* ! */
/* .navigation>ul>li>a {
    color: var(--color-logo-links-brand);
} */
/* ! v.2 */
/* .page-header a {
    color: var(--color-logo-links-brand);
} */
/* ? */
/* .navigation>.list>.item>.link {
    color: var(--color-logo-links-brand);
} */
/*  */
/* .nav-link {
    color: var(--color-logo-links-brand);
} */
/*  */
/* .contacts-link {
    color: var(--color-logo-links-brand);
} */


/* ! */
/* .features>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! */
/* .activities>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! */
/* .team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! v.2 */
/* .features>h2,
.activities>h2,
.team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ? v.2 */
/* .features>.title,
.activities>.title,
.team>.title {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/*  */
/* .section-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
}  */

/* ! */
/* .team>ul>li>p {
    font-size: 16px;
    color: var(--color-font-main);
} */
/* ! v.2 */
/* .team p {
    font-size: 16px;
    color: var(--color-font-main);
} */
/* ? */
/* .team>.list>.item>.text {
    font-size: 16px;
    color: var(--color-font-main);
} */
/*  */
/* .team-name {
    font-size: 16px;
    color: var(--color-font-main);
} */

/* ! */
/* .team>ul>li>h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ! v.2 */
/* .team h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ? */
/* .team>.list>.item>.title {
    font-size: 16px;
    color: var(--color-font-head);
} */
/*  */
/* .team-position {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* *============================================== */

