/* Q&A-1 */
/* !============================================== */
/* body {
    color:red;
    background-color: yellow;
} */
/* !============================================== */


/* *============================================== */
/* p {
    font-size: 24px;
    color: green;
    background-color: white
} */
/* *============================================== */









/* Q&A-2 */
/* ?============================================== */
/* * {
    color:red;
    background-color: yellow;
} */
/* ?============================================== */

/* *============================================== */
/* p {
    color: green;
    background-color: white
} */
/* *============================================== */

