:root {
    /* *============ CSS-змінні ============ */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-font-main: #212121;
    --color-font-second: #757575;
    --color-font-third: rgba(255, 255, 255, 0.6);
    --color-brand-main: #2196F3;
    --color-brand-active: #188CE8;
    --color-background-dark: #2F303A;
    --color-background-light: #F5F4FA;
    /* *========================================== */
    --color-background-another: #E5E5E5;
    --color-background-footer: #2F303A;
    --color-background-footer-icon: rgba(255, 255, 255, 0.1);
    --color-background-backdrop: rgba(0, 0, 0, 0.2);
    --color-background-activity: rgba(47, 48, 58, 0.8);
    --color-background-overlay: rgba(33, 150, 243, 0.9);
    /* *========================================== */
    --color-font-placeholder-modal: rgba(117, 117, 117, 0.5);
    /* *========================================== */
    --color-border-line: #ECECEC;
    --color-borders-portfolio: #EEEEEE;
    --color-border-clients: #AFB1B8;
    --color-border-modal: rgba(33, 33, 33, 0.2);
    /* *========================================== */
}

/** === 1.Властивість font-family === */
/** перевірка завантаження шрифта'Roboto' 400, 500, 700, 900 */
/*!  Виносимо однакові властивості єлементів до body  */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-light);
}

/*!  Контейнер - обгортає відразу увесь контент сторінки (або секції)  */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px dashed tomato;
}


/*? header */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: normal;
    font-style: normal;
    letter-spacing: 0.78px;
    color: var(--color-brand-main);
}

.logo-dark {
    color: var(--color-dark);
}

.nav-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    /* letter-spacing: 0.02em; */
    letter-spacing: 0.28px;
    color: var(--color-font-main); 
}

.active-link {
    color: var(--color-brand-main); 
}

.contacts-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    /* letter-spacing: 0.28px; */
    color: var(--color-font-main); 
}

.contacts-link:hover {
    color: var(--color-brand-main); 
}

.features-list1 {
    text-align: center;
}

.navigation,
.nav-list,
.nav-item,
.contacts-item,
.contacts-list {
    display: inline-block;
}

.text-align-center {
    text-align: center;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: #d2fff2;
}

/*? main */
/*? section hero */
.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px; /* 136.364% */
    line-height: 1.36;
    font-style: normal;
    letter-spacing: 0.06em;
    /* letter-spacing: 2.64px; */
    text-transform: uppercase;
    text-align: center;
    color: var(--color-light);
    /* background-color: var(--color-dark); */
}

.hero-button {
    display: block;
    margin: 0 auto;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    /* line-height: 187%; */
    line-height: 1.87;
    letter-spacing: 0.06em;
    /* letter-spacing: 0.96px; */
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-brand-main);
}

.hero-button:active {
    background-color: var(--color-brand-active);
    /* background-color: red; */
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--color-background-dark);
}



/*? section features */
/** стилізация  заголовків h2 у ВСІХ секціях */
.section-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.03em;
    /* letter-spacing: 1.08px; */
    text-align: center;
    color: var(--color-font-main);
}

.features-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-font-main);
}

.features-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    /* line-height: 171%; */
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-font-second);
}

.features-list {
    text-align: center;
}

.features-item {
    width: 270px;
    display: inline-block;
    vertical-align: top;
}

.section-features {
    padding-top: 94px;
    /* padding-bottom: 94px; */
    background-color: #fffbd2;
}


/*? section activities */
.activities-list {
    text-align: center;
}

.activities-item {
    display: inline-block;
}

.section-activities {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #d2e4ff;
}

/*? section team */
.team-name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-font-main);
}

.team-position {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-font-second);
}

/* .team-image {
    margin: 0 auto;
} */

.team-list {
    text-align: center;
}

.team-item {
    display: inline-block;
}

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--color-background-light);
}


/*? section footer */
.logo-light {
    color: var(--color-light);
    /* background-color: var(--color-dark); */
}

.footer-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    /* line-height: 171%; */
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--color-font-third);
    /* background-color: var(--color-dark); */
}

.white-color {
    color: var(--color-light);
}

.footer {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: var(--color-background-dark);
}



/*! Перший підхід уникнення специфічності*/
/* !============================================== */
/* .navigation>a {
    color: var(--color-logo-links-brand);
} */

/* .navigation>ul>li>a {
    color: var(--color-logo-links-brand);
} */

/* v.2 */
/* .page-header a {
    color: var(--color-logo-links-brand);
} */

/* .features>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* .activities>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* .team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* v.2 */
/* .features>h2,
.activities>h2,
.team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* .team>ul>li>p {
    font-size: 16px;
    color: var(--color-font-main);
} */

/* v.2 */
/* .team p {
    font-size: 16px;
    color: var(--color-font-main);
} */

/* .team>ul>li>h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */

/* v.2 */
/* .team h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* !============================================== */


/*? Другий підхід уникнення специфічності*/
/* ?============================================== */
/* ! */
/* .navigation>a {
    color: var(--color-logo-links-brand);
} */
/* ? */
/* .navigation>.link {
    color: var(--color-logo-links-brand);
} */

/* .footer>.link {
    color: var(--color-logo-links-brand);
} */



/* ! */
/* .navigation>ul>li>a {
    color: var(--color-logo-links-brand);
} */
/* ! v.2 */
/* .page-header a {
    color: var(--color-logo-links-brand);
} */
/* ? */
/* .navigation>.list>.item>.link {
    color: var(--color-logo-links-brand);
} */


/* ! */
/* .features>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! */
/* .activities>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! */
/* .team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! v.2 */
/* .features>h2,
.activities>h2,
.team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ? v.2 */
/* .features>.title,
.activities>.title,
.team>.title {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */

/* ! */
/* .team>ul>li>p {
    font-size: 16px;
    color: var(--color-font-main);
} */
/* ! v.2 */
/* .team p {
    font-size: 16px;
    color: var(--color-font-main);
} */
/* ? */
/* .team>.list>.item>.text {
    font-size: 16px;
    color: var(--color-font-main);
} */

/* ! */
/* .team>ul>li>h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ! v.2 */
/* .team h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ? */
/* .team>.list>.item>.title {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ?============================================== */


/** Третій підхід уникнення специфічності*/
/* *============================================== */
/* ! */
/* .navigation>a {
    color: var(--color-logo-links-brand);
} */
/* ? */
/* .navigation>.link {
    color: var(--color-logo-links-brand);
} */
/*  */
/* .logo-link-header {
    color: var(--color-logo-links-brand);
} */

/* ! */
/* .navigation>ul>li>a {
    color: var(--color-logo-links-brand);
} */
/* ! v.2 */
/* .page-header a {
    color: var(--color-logo-links-brand);
} */
/* ? */
/* .navigation>.list>.item>.link {
    color: var(--color-logo-links-brand);
} */
/*  */
/* .nav-link {
    color: var(--color-logo-links-brand);
} */
/*  */
/* .contacts-link {
    color: var(--color-logo-links-brand);
} */


/* ! */
/* .features>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! */
/* .activities>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! */
/* .team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ! v.2 */
/* .features>h2,
.activities>h2,
.team>h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/* ? v.2 */
/* .features>.title,
.activities>.title,
.team>.title {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
} */
/*  */
/* .section-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-font-main);
}  */

/* ! */
/* .team>ul>li>p {
    font-size: 16px;
    color: var(--color-font-main);
} */
/* ! v.2 */
/* .team p {
    font-size: 16px;
    color: var(--color-font-main);
} */
/* ? */
/* .team>.list>.item>.text {
    font-size: 16px;
    color: var(--color-font-main);
} */
/*  */
/* .team-name {
    font-size: 16px;
    color: var(--color-font-main);
} */

/* ! */
/* .team>ul>li>h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ! v.2 */
/* .team h3 {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* ? */
/* .team>.list>.item>.title {
    font-size: 16px;
    color: var(--color-font-head);
} */
/*  */
/* .team-position {
    font-size: 16px;
    color: var(--color-font-head);
} */
/* *============================================== */

