:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #4b2500;
    --color-background-body: #c0fff7;
    --color-title-lesson: #6b5f00;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 20px 20px 150px;
    padding: 20px 0px 150px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
    /* ! for position: fixed */
    /* margin-bottom: 350px; */
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* outline: 1px solid red; */
}

/* *======================================= */
/*! =============================== */
/* .part_1 {
    display: none;
} */
/*! 1.Арифметика пикселей */
.part_1 .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    padding: 20px 30px;
    background-color: hsla(60, 100%, 89%, 0.5);
    outline: 1px solid red;
}
.part_1 .monitor-resolution {
    font-size: larger;
    color: #000a7b;
}
.part_1 .other-densities {
    color: rgba(128, 128, 128, 0.5);
    font-style: italic;
}



/*! =============================== */
/* .part_2 {
    display: none;
} */
/*! 1.Ретинізація графіки */
.part_2 {
    font-size: larger;
}

.part_2 .title-section {
    font-size: 36px;
}


/*! =============================== */
/* .part_3 {
    display: none;
    min-height: auto;
} */
/*! 3.Респонсивні зображення */
.part_3 .thumb {
    width: 100vw;
    max-width: 960px;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    outline: 1px solid tomato;
}

.part_3 .thumb img {
    /* margin: 0 auto; */
    display: block;
    max-width: 100%;
    height: auto;
}

.part_3 .thumb .box {
    /* margin: 0 auto; */
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    text-align: center;
    font-size: 40px;
    background-color: #ff00f7;
}


/*! =============================== */
/* .part_4 {
    display: none;
} */
/*! 4.Респонсивні фонові зображення */
/*? 1x screens. Базові стилі і 1x зображення: 320x240 */
.part_4 .box {
    margin: 0 auto;
    width: 320px;
    height: 240px;
    background-image: url("https://picsum.photos/id/235/320/240");
    background-size: 320px 240px;
}

/*? 2x screens, retina. Перевизначаємо шлях до 2x зображення: 640x480 image */
@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2), /* автопрефіксор */
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .part_4 .box {
        /* background-image: url("https://picsum.photos/id/235/640/480"); */
        background-image: url("https://picsum.photos/id/238/640/480");
    }
}

/*? 3x screens, retina. Перевизначаємо шлях до 3x зображення: 960x720 image */
@media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3), /* автопрефіксор */
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .part_4 .box {
        /* background-image: url("https://picsum.photos/id/235/960/720"); */
        background-image: url("https://picsum.photos/id/244/960/720");
    }
}


/*! =============================== */
/* .part_5 {
    display: none;
} */
/*! 5.Респонсивний елемент <img> (дескриптор x​) */
.part_5 .thumb {
    width: 320px;
    height: 240px;
    margin: 0 auto;
}


/*! =============================== */
/* .part_6 {
    display: none;
} */
/*! 6.Респонсивний елемент <img> (дескриптор x​) */
.part_6 .thumb {
    width: 320px;
    height: 240px;
    margin: 0 auto;
}


/*! =============================== */
/* .part_7 {
    display: none;
} */
/*! 7.Респонсивний елемент <img> (дескриптор w + атрибут sizes​) */
.part_7 .thumb {
    /* width: 100vw; */
    /* min-width: 320px; */
    /* max-width: 900px; */
    /* height: auto; */
    margin: 0 auto;
    outline: 1px solid tomato;
}


/*! =============================== */
/* .part_8 {
    display: none;
} */
/*! 8.Елемент <picture> */
.part_8 .thumb {
    margin: 0 auto;
    outline: 1px solid tomato;
}


/*? ______________________________________________________ */
/*! =============================== */
.part_0 {
    display: none;
}

/*! 0.Заголовок */