:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #4b2500;
    --color-background-body: #f1e7ff;
    --color-title-lesson: #4b4200;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 20px 20px 150px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
    /* ! for position: fixed */
    /* margin-bottom: 350px; */
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* *======================================= */
/*! =============================== */
/* .part_1 {
    display: none;
} */
/*! 1.Анімовані властивості події hover на кнопці */
.btn1 {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100px;
    margin: 50px 0;
    padding: 0 30px;
    /* ! */
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    /* font: inherit; */
    border: none;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    background-color: #008080;
    text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.4),
    2px 2px 4px rgba(0, 0, 0, 0.2),
    4px 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 16px 8px rgba(0, 0, 0, 0.3),
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    /*? Анімація-1 - шлях */
    /* transition-property: background-color; */
    transition-property: color, background-color;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.83, -0.08, 0.32, 1);
    transition-delay: 500ms;
}

.btn1::before,
.btn1::after {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #a9bdff;
    background-repeat: no-repeat;
    background-size: 45px 45px;
    background-position: center;
    /*? Анімація-1 - шлях (збірна властивість) */
    transition: 
        transform 
        1000ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        500ms,
        opacity 
        1000ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        500ms;
}

.btn1::before {
    margin-right: 20px;
    opacity: 1;
    background-image: url(../images/cat.webp);
}

.btn1::after {
    position: absolute;
    opacity: 0;
    /*? Анімація-1 - початковий стан-1 */
    top: 100%;
    /*! або: */
    /* top: 100px; */
    background-image: url(../images/dog.webp);
    /*? Анімація-1 - початковий стан-2 */
    /* transform: translateY(calc(-100% + 50px)); */
    /* transform: translateY(-50px); */
}

/*? Анімація-1 - кінцевий стан + тригер */
.btn1:hover::before {
    transform: translateY(-150%);
    opacity: 0;
}

/*? Анімація-1 - кінцевий стан + тригер */
.btn1:hover::after {
    transform: translateY(-150%);
    opacity: 1;
}

/*? Анімація-1 - кінцевий стан + тригер */
.btn1:hover {
    color: #25ffff;
    background-color: #d87093;
}



/*! =============================== */
/* .part_1-1 {
    display: none;
} */
/*! 1-1.Анімовані властивості зміни контенту на кнопці */
.box-btn1-1 {
    position: relative;
    width: 500px;
    height: 100px;
    /* outline: 1px solid red; */
}
.btn1-1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* ! */
    /* overflow: hidden; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    /* font: inherit; */
    border: none;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    background-color: #008080;
    text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.4),
    2px 2px 4px rgba(0, 0, 0, 0.2),
    4px 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 16px 8px rgba(0, 0, 0, 0.3),
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    /*? Анімація-1 - шлях */
    transition-property: opacity;
    /* transition-property: opacity, background-color, color; */
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.83, -0.08, 0.32, 1);
    transition-delay: 500ms;
}

/*? Анімація-1 - початковий стан-2 */
.btn1-1:last-child {
    opacity: 0;
    background-color: #d87093;
    color: #25ffff;
}

/*? Анімація-1 - кінцевий стан + тригер */
.btn1-1:last-child:hover {
    opacity: 1;
    /* color: #25ffff;
    background-color: #d87093; */
}

.btn1-1:first-child:hover {
    opacity: 0;
}


/*! =============================== */
/* .part_2 {
    display: none;
} */
/*! 2.Підкреслення вкладки при ховері в меню: */
.menu2 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 12px;
}

/* ?+ */
/* .menu-item2 {
    transform: scale(1);
    transition:
        transform 
        500ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        1000ms;
} */

.menu-link2 {
    overflow: hidden;
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: currentColor;
    border: 2px solid green;
    border-radius: 8px;
}

.menu-link2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 8px;
    background-color: tomato;
    opacity: 0;
    transform: scaleX(0);
    transition:
        transform 
        1000ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        500ms,
        opacity 
        1000ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        500ms;
}

.menu-item2:hover {
    cursor: pointer;
    /* ?+ */
    /* transform: scale(1.1); */
}

.menu-item2:hover .menu-link2::after {
    opacity: 1;
    transform: scaleX(1);
}


/*! =============================== */
/* .part_3 {
    display: none;
} */
/*! 3.Анімація на оверлей статті: */
.product3 {
    overflow: hidden;
    width: 370px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border-radius: 12px;
    box-shadow:
        2px 2px 1px rgba(0, 0, 0, 0.2),
        1px 1px 2px rgba(0, 0, 0, 0.14),
        1px 1px 4px rgba(0, 0, 0, 0.1);
}

.product-thumb3 {
    position: relative;
    /* ! */
    overflow: hidden;
}

.product-overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    /* ! */
    opacity: 0;
    /* ! */
    transform: translateX(-100%);
    /* ! */
    transition:
        transform 
        1000ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        500ms,
        opacity 
        1000ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        500ms;
}

/*? блок кнопки-іконки */
.product-actions3 {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    outline: 3px solid orange;
    /* ! */
    opacity: 0;
    /* ! */
    transition: 
        opacity 
        1000ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        500ms;
}

.button3 {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button3 .icon3 {
    width: 32px;
    height: 32px;
}

/*? блок інформації */
.product-meta3 {
    padding: 15px;
    background-color: skyblue;
}

.product-name3,
.product-price3 {
    margin-bottom: 10px;
    text-align: center;
    color: #6a0000;
}

/** hovers */
.product3:hover .product-overlay3 {
    opacity: 0.7;
    transform: translateX(0);
}

/*? hover на блоці кнопки-іконки */
.product3:hover .product-actions3 {
    opacity: 1;
}

.button3:hover {
    fill: red;
}


/*! =============================== */
/* .part_4 {
    display: none;
} */
/*! 4.Анімація модального вікна */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

/*? Анімація-1 - тригер */
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

/* ! */
.backdrop.is-hidden .modal {
    /*? Анімація-1 - початковий стан-2 */
    /* transform: scale(0); */
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    padding: 15px;
    text-align: center;
    background-color: skyblue;
    /*? Анімація-1 - кінцевий стан */
    transform: translate(-50%, -50%) scale(1);
    /*? Анімація-1 - шлях */
    transition:
        transform 
        1000ms
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        500ms,
        opacity 
        1000ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        500ms;
}
.modal .btn {
    position: absolute;
    top: 10px;
    right: 10px;
}


/*! =============================== */
/* .part_5 {
    display: none;
} */
/*! 5.2-1.Бібліотека анімацій animate.style */




/*? ______________________________________________________ */
/*! =============================== */
.part_0 {
    display: none;
}
/*! 0.Заголовок */
