:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #4b2500;
    --color-background-body: #f1e7ff;
    --color-title-lesson: #4b4200;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 20px 20px 150px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
    /* ! for position: fixed */
    /* margin-bottom: 350px; */
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* *======================================= */
/* ! */
/* .part_1 {
    display: none;
} */
/*! 1.Застосування властивостей transition та transform у CSS-переходах */
.box1 {
    margin-top: 30px;
}
.btn1 {
    position: relative;
    /* ! */
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    border: none;
    margin: 0;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    background-color: #008080;
    cursor: pointer;
    font: inherit;
    /* ! */
    transition-property: background-color;
    /* transition-property: background-color, color; */
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.83, -0.08, 0.32, 1);
    transition-delay: 1000ms;
}

.btn1::before,
.btn1::after {
    content: "";
    /* display: inline-block; */
    width: 20px;
    height: 20px;
    /* background-color: #d87093; */
    /* background-repeat: no-repeat; */
    background-size: contain;
    /* ! */
    transition: 
        transform 
        500ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        1000ms;
}

.btn1::before {
    margin-right: 5px;
    background-image: url(../images/cat.webp);
}

.btn1::after {
    position: absolute;
    top: 50%;
    /* left: 30px; */
    background-image: url(../images/dog.webp);
    transform: translateY(calc(-50% + 35px));
    /* transform: translateY(calc(-50% + 0px)); */
}

/* .btn1:focus::before, */
.btn1:hover::before {
    transform: translateY(-35px);
}

/* .btn1:focus::after, */
.btn1:hover::after {
    transform: translateY(-50%);
    /* transform: translateY(-35px); */
}

/* .btn1:focus, */
.btn1:hover {
    background-color: #d87093;
    color: #25ffff;
}


/* ! */
/* .part_2 {
    display: none;
} */
/*! 2.Підкреслення вкладки при ховері в меню: */
.menu2 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu-item2:not(:last-child) {
    margin-right: 10px;
}

.menu-link2 {
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: currentColor;
    outline: 2px solid tomato;
}

.menu-link2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #d87093;
    opacity: 0;
    transform: scaleX(0);
    transition:
        transform 
        500ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        1000ms,
        opacity 
        500ms 
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        1000ms;
}

.menu-item2:hover .menu-link2::after{
    /* cursor: pointer; */
    opacity: 1;
    transform: scaleX(1);
}


/*? ______________________________________________________ */
/* ! */
.part_0 {
    display: none;
}
/*! 0.Заголовок */
