//! ----------- Загальні стилі для ВСІХ кнопок -----------
.buttons {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @extend %flex-JCcen-AIcen;

    // font-family: $font-family;
    // font-weight: 400;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    color: $color-light;
    background-color: $color-buttons-background;
    //* var.1 анімація
    // transition:
    //     color, border, background-color,
    //     300ms
    //     ease-in-out;

    &:hover:not(:disabled) {
        // * var.1 Зміна кольорів на кнопці при події hover
        // color: $color-buttons-hover;
        // border: 1px solid $color-buttons-hover;
        // background-color: $color-brand-hover;
        // todo var.2 Анімація на кнопці при події hover
        // ! 1.Назва анімації
        animation-name: pulse-button;
        // ! 2.Тривалість анімації/
        animation-duration: 2s;
        // ! 3.Функція розподілу часу
        animation-timing-function: ease-in-out;
        // ! 5.Кількість повних повторень анімації - постійно
        animation-iteration-count: infinite;
        // ! 6.Напрямок відтворення анімації
        // animation-direction: normal;
        animation-direction: alternate;
    }
}

//! перенесено в _animation.scss
// todo var.2 Анімація на кнопці при події hover
// @keyframes pulse-button {
//     0% {
//         transform: scale(1);
//         // color: $color-buttons-hover; 
//         // border: 1px solid $color-buttons-hover;
//         // background-color: $color-brand-hover;
//     }

//     50% {
//         transform: scale(1.05);
//         color: $color-buttons-hover;
//         border: 1px solid $color-buttons-hover;
//         background-color: $color-brand-hover;
//     }

//     100% {
//         transform: scale(1);
//         // transform: scale(0.9);
//         // color: $color-buttons-hover;
//         // border: 1px solid$color-buttons-hover;
//         // background-color:$color-brand-hover;
//     }
// }

