:root {
    /* *============ CSS-змінні ============ */
    --color-font-body: #0c220c;
    --color-background-body: #ffe3de;
}

body {
    font-family: 'Montserrat', serif;
    color: var(--color-font-body);
    background-color: var(--color-background-body);

    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}
/* *======================================= */


/*! Підключення векторної графіки в елементі <img> */
img {
    margin: 5px auto;
    border: 2px dashed #2a2a2a;
    border-radius: 8px;
}
/* ❌ */
img:hover {
    fill: green;
    stroke: black;
    stroke: yellow;
    stroke-width: 5;
}


/*! Підключення векторної графіки як фон елемента */
.box {
    width: 240px;
    height: 240px;
    border: 2px dashed #2a2a2a;
    border-radius: 8px;
    background-color: rgb(255, 238, 193);
    background-image: url("https://res.cloudinary.com/goit-academy/image/upload/v1614773221/codepen/cat_segyum.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}

.box:hover {
    /* ❌ */
    fill: green;
    stroke: yellow;
    stroke-width: 5;
    /* ✅ */
    border: 2px solid red;
    background-color: rgb(157, 255, 255);
}


/*! Підключення векторної графіки як як вбудований SVG (inline SVG) ​*/
.icon {
    width: 200px;
    height: 200px;
}
/* ✅ */
.icon:hover .letter {
    fill: palevioletred;
}
/* ✅ */
.icon:hover .background {
    fill: green;
    stroke: yellow;
    stroke-width: 5;
}


/*! Підключення векторної графіки як як SVG-спрайт ​*/
.icon2 {
    border: 2px dashed #2a2a2a;
    border-radius: 8px;
    fill: #2a2a2a;
}
/* ✅ */
.icon2:hover {
    fill: #03a9f4;
    stroke: crimson;
    stroke-width: 2;
}

/*! Підключення іконок з макету WebStudio як SVG-спрайт ​*/
.icon-webstudio {
    width: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* align-items: center; */
    align-content: flex-start;
    outline: 4px double #ffcfc6;
}

/* li {
    outline: 1px solid blue;
} */

.icon3 {
    display: block;
    border: 1px dashed #212121;
    border-radius: 8px;
    /* border-radius: 50%; */
    fill: #2383ff;
    background-color: rgb(255, 235, 208);
}
/* ✅ */
.icon3:hover {
    fill: #b2ff85;
    stroke: crimson;
    /* stroke-width: 2; */
    background-color: rgb(252, 156, 255);
}

/*! Підключення векторної графіки ​*/
/*! як фон елемента за  допомогою SVG-спрайт */
.box2 {
    width: 200px;
    height: 200px;
    border: 2px dashed blueviolet;
    border-radius: 8px;
    background-image: url("../svg-omg/astronaut.svg");
    /*! ❌ - SVG-спрайт НЕ ПРАЦЮЄ!!!*/ 
    /* background-image: url("../images/icons-sprite.svg#astronaut"); */
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center;
}

.box2:hover {
    /* ❌ */
    fill: green;
    stroke: yellow;
    stroke-width: 5;
    /* ✅ */
    background-color: #b2ff85;
}


/*! Іконочний шрифт ​*/
.social-networks {
    font-size: 40px;
}

.link-compass2 {
    color: brown;
}
.link-compass2:hover {
    font-size: 60px;
    color: rgb(42, 165, 85);
}

