:root {
    /*? ============ CSS-змінні ============ */
    /** =================colors================== */
    --test-name: red;
    /** =================fonts=================== */
    --font-family: "Inter", sans-serif;
    --second-family: "Headland One", sans-serif;
    --third-family: "Hammersmith One", sans-serif;
}

/*! GENERAL */
body {
    font-family: var(--font-family);
}

.main-container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    outline: 1px dashed rgb(12, 235, 23);
}

.container {
    width: 1033px;
    margin: 0 auto;
    outline: 1px dashed tomato;
}

/*? header */
.header {
    padding-top: 39px;
    padding-bottom: 39px;
    background-color: #a9a9a9;
}

/** --- Додаткові flex-властивості до container ---- */
.flex,
.navigation,
.nav-list,
.lang-list,
.lang-item {
    display: flex;
    align-items: center;
}

.header-logo{
    width: 186px;
    height: 72px;
    margin-right: 168px;
}

/** блок кнопок-перемикачів мови */
.lang-list {
    position: absolute;
    top: 65px;
    right: 48px;
}

.lang-item:first-child::after {
    content: "";
    width: 36px;
    height: 20px;
    margin: 0 10px;
    background-image: url(../images/lang-switcher.png);
    background-repeat: no-repeat;
}

.lang-link {
    font-family: var(--third-family);
    /* font-weight: 400; */ 
    /* font-size: 16px; */
    text-align: center;
    color: #fff;
}

/** ______________________________________________ */

