:root {
    /*? ============ CSS-змінні ============ */
    /** =================colors================== */
    --test-name: red;
    /** =================fonts=================== */
    --font-family: "Inter", sans-serif;
    --second-family: "Headland One", sans-serif;
    --third-family: "Hammersmith One", sans-serif;
}

/*! GENERAL */
body {
    font-family: var(--font-family);
}

.main-container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    outline: 1px dashed #0ceb17;
}

.container {
    width: 1034px;
    margin: 0 auto;
    outline: 1px dashed tomato;
}

/*? header */
.header {
    padding-top: 39px;
    padding-bottom: 39px;
    border-bottom: 3px solid #FFFFFF;
    background-color: gray;
    background-image:
        linear-gradient(
            rgba(43, 74, 97, 0.87),
            rgba(43, 74, 97, 0.87)
        ),
        url(../images/background-header.jpg);
    background-repeat: no-repeat; 
}

/** --- Додаткові flex-властивості до container ---- */
.flex,
.navigation,
.nav-list,
.lang-list,
.lang-item {
    display: flex;
    align-items: center;
}

.header-logo{
    width: 186px;
    height: 72px;
    margin-right: 168px;
}

.navigation {
    margin-right: 212px;
}

.nav-list {
    gap: 39px;
}

.nav-link {
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 20px;
    /* text-align: center; */
    color: #fff;
}

.active-link {
    font-weight: 600;
    color: #94cfff;
}

/** блок кнопок-перемикачів мови */
.lang-list {
    position: absolute;
    top: 65px;
    right: 48px;
}

.lang-item:first-child::after {
    content: "";
    width: 36px;
    height: 20px;
    margin: 0 10px;
    background-image: url(../images/lang-switcher.png);
    background-repeat: no-repeat;
}

.lang-link {
    font-family: var(--third-family);
    /* font-weight: 400; */ 
    /* font-size: 16px; */
    text-align: center;
    color: #fff;
}

.header-button-link {
    width: 141px;
    padding: 9px 38px 8px;
    font-family: var(--second-family);
    /* font-weight: 400; */
    font-size: 20px;
    /* text-align: justify; */
    border: 2px solid #26c6ea;
    border-radius: 35px 0;
    color: #26c6ea;
    background-color: #0B0E66;

}


/*? main */
/*? section hero */
.hero {
    padding-top: 180px;
    padding-bottom: 179px;
    background-color: gray;
    background-image:url(../images/background-hero.jpg);
    background-repeat: no-repeat; 
}

/** ______________________________________________ */

/*? footer */
.footer {
    padding-top: 35px;
    padding-bottom: 31px;
    background-color: gray;
    background-image:
        linear-gradient(
            rgba(43, 74, 97, 0.87),
            rgba(43, 74, 97, 0.87)
        ),
        url(../images/background-footer.jpg);
    background-repeat: no-repeat; 
}

.box-logo-address {
    height: 153px;
    display: flex;
    align-items: center;
    /* outline: 1px solid green; */
}

.footer-logo {
    width: 183px;
    height: 70px;
    margin-right: 80px;
    /* outline: 2px dotted violet; */
}

.address {
    height: 100%;
    display: flex;
    align-items: center;
    font-style: normal;
}

.address::before {
    content: "";
    width: 2px;
    height: 100%;
    margin-right: 80px;
    background-color: #FFFFFF;
}

.mails-item {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 0.93;
}

.mails-text,
.mails-svg {
    margin-right: 20px;
    color: #FFFFFF;
}

.mails-link {
    color: #FFFFFF;
}

.copywrite {
    margin-top: -5px;
    margin-left: 474px;
    font-size: 14px;
    line-height: 0.65;
    color: #FFFFFF;
}

