:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #4b2500;
    --color-background-body: #f2ffd6;
    --color-title-lesson: #4b4200;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 20px 20px 150px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* *======================================= */
/* ! */
/* .part_1 {
    display: none;
} */
/*! 1.CSS-переходи */
.box1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 30px;
    border: 2px solid #363636;
    border-radius: 20px;
    box-shadow: 6px 6px 12px rgba(69, 69, 69, 0.7);
    background-color: #ebffc1;

    /* outline: 1px dotted red; */
}
.code1 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 110, 0);
}

.span1 {
    font-weight: 400;
    font-style: italic;
    color: rgb(195, 0, 0)
}


/* ! */
/* .part_2 {
    display: none;
} */
/*! 2.CSS-переходи (приклад) */
.box2 {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 10px;
    color: #f2ffd6;
    background-color: tomato;
    box-shadow: 
    inset 0 0 24px 12px rgba(0, 0, 0, 0.4),
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    /*todo  Встановлює значення переходу:  */
        /** transition-property */
    /* transition-property: all; */
    /* transition-property: background-color; */
    /* transition-property: background-color, transform; */
        /** transition-duration */
    /* transition-duration: 0ms; */
    /* transition-duration: 500ms; */
    /* transition-duration: 1500ms; */
    /* transition-duration: 2500ms; */
        /** transition-timing-function */
    /* transition-timing-function: ease; */
    /* transition-timing-function: linear; */
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: ease-out; */
    /* transition-timing-function: ease-in-out; */
    /* transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08); */
        /** transition-delay */
    /* transition-delay: 0; */
    /* transition-delay: 500ms; */
    /* transition-delay: 1500ms; */

    /*todo Зміна властивостей transition-property без єфекту over */
    /* background-color: teal;
    transform: rotate(180deg); */
}

  /*todo При наведенні змінюється значення анімованих властивостей. */
.box2:hover {
    cursor: pointer;
    background-color: teal;
    transform: rotate(180deg);
}


/* ! */
/* .part_3 {
    display: none;
} */
/*! 3.CSS-переходи (transition-duration​) */
.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px 40px;
    border: 2px dashed #2a2a2a;
    border-radius: 12px;
}

.circle3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    /* margin-left: 30px;
    margin-right: 30px; */
    border-radius: 50%;
    box-shadow: 
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition-property: transform;
}

.box3:hover .circle3 {
    transform: scale(1.5);
}

.circle3:nth-child(1) {
    background-color: orange;
    transition-duration: 500ms;
}

.circle3:nth-child(2) {
    background-color: #03a9f4;
    transition-duration: 1500ms;
}

.circle3:nth-child(3) {
    background-color: palevioletred;
    transition-duration: 3000ms;
}



/* ! */
/* .part_4 {
    display: none;
} */
/*! 4.CSS-переходи (transition-timing-function​) */
.box4 {
    width: 80vw;
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
    padding: 10px;
}

.circle4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow:
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    transform: translatex(0);
    transition-property: transform;
    transition-duration: 2000ms;
}

.circle4:not(:last-child) {
    margin-bottom: 5px;
}

.box4:hover .circle4 {
    transform: translatex(calc(80vw - 80px));
}

.circle4:nth-child(1) {
    background-color: #f44336;
    transition-timing-function: ease;
}

.circle4:nth-child(2) {
    background-color: #3f51b5;
    transition-timing-function: linear;
}

.circle4:nth-child(3) {
    background-color: #00bcd4;
    transition-timing-function: ease-in;
}

.circle4:nth-child(4) {
    background-color: #4caf50;
    transition-timing-function: ease-out;
}

.circle4:nth-child(5) {
    background-color: #ffeb3b;
    transition-timing-function: ease-in-out;
}

.circle4:nth-child(6) {
    background-color: #e91e63;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}


/* ! */
/* .part_5 {
    display: none;
} */
/*! 5.CSS-переходи (transition-delay) */
.box5 {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 10px;
    color: #f2ffd6;
    background-color: green;
    box-shadow: 
    inset 0 0 24px 12px rgba(0, 0, 0, 0.4),
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    /*todo  Встановлює значення переходу:  */
        /** transition-property */
    transition-property: background-color, transform;
        /** transition-duration */
    transition-duration: 1500ms;
        /** transition-timing-function */
    transition-timing-function: linear;
        /** transition-delay */
    /* transition-delay: 0; */
    transition-delay: 500ms;
    /* transition-delay: 1500ms; */
}

  /*todo При наведенні змінюється значення анімованих властивостей. */
.box5:hover {
    cursor: pointer;
    background-color: red;
    transform: rotate(180deg);
}


/* ! */
/* .part_6 {
    display: none;
} */
/*! 5.CSS-переходи (transition-delay) */
.box6 {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 10px;
    color: #f2ffd6;
    background-color: yellow;
    box-shadow: 
    inset 0 0 24px 12px rgba(0, 0, 0, 0.4),
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    /*todo  Встановлює значення всіх переходів:  */
    transition: 
        background-color 1000ms linear, 
        transform 500ms ease-in-out 1000ms;
}


  /*todo При наведенні змінюється значення анімованих властивостей. */
.box6:hover {
    /* cursor: pointer; */
    background-color: blue;
    transform: rotate(-180deg);
}


/* ! */
/* .part_7 {
    display: none;
} */
/*! 7.2D-трансформації - властивість transform */






/*? ______________________________________________________ */
/* ! */
.part_0 {
    display: none;
}
/*! 0.CSS-переходи */
