:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #4b2500;
    --color-background-body: #f2ffd6;
    --color-title-lesson: #4b4200;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 20px 20px 150px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* *======================================= */
/* ! */
/* .part_1 {
    display: none;
} */
/*! 1.CSS-переходи */
.box1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 30px;
    border: 2px solid #363636;
    border-radius: 20px;
    box-shadow: 6px 6px 12px rgba(69, 69, 69, 0.7);
    background-color: #ebffc1;

    /* outline: 1px dotted red; */
}
.code1 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 110, 0);
}

.span1 {
    font-weight: 400;
    font-style: italic;
    color: rgb(195, 0, 0)
}


/* ! */
/* .part_2 {
    display: none;
} */
/*! 2.CSS-переходи (приклад) */
.box2 {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 10px;
    color: #f2ffd6;
    background-color: tomato;
    box-shadow: 
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    /*todo  Встановлює значення переходу:  */
    /* transition-property: background-color; */
    /* transition-property: background-color, transform; */
    /* transition-duration: 500ms; */
    /* transition-duration: 1500ms; */
    /* transition-timing-function: linear; */
    /* transition-timing-function: ease; */
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: ease-out; */
    /* transition-timing-function: ease-in-out; */
    /* transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    /* transition-delay: 0; */
    /* transition-delay: 500ms; */
}

  /*todo При наведенні змінюється значення анімованих властивостей. */
.box2:hover {
    cursor: pointer;
    background-color: teal;
    /* transform: rotate(180deg); */
}





/*? ______________________________________________________ */
/* ! */
.part_0 {
    display: none;
}
/*! 0.CSS-переходи */
