:root {
    /* *============ ПЕРЕМЕННЫЕ ЦВЕТА body ============ */
    --color-font-body: #277600;
    --color-background-body: #ffdef9;
    /* *============================================== */
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* ?============================================== */
body {
    color: var(--color-font-body);
    background-color: var(--color-background-body);
    font-family: sans-serif;
    padding: 10px;
}
/* ?============================================== */

.box {
    width: 150px;
    height: 150px;
    border: 1px solid green;
    background-color: rgb(255, 255, 159);
}

.box-parent-flex {
    padding: 5px;
    display: flex;

    /* flex-direction: row; */
    /* flex-direction: column; */
    
    border: 1px solid tomato;
    background-color: rgb(202, 132, 255);
    margin-bottom: 10px;
}

.box-parent-inline-flex {
    padding: 5px;
    display: inline-flex;

    /* flex-direction: row; */
    /* flex-direction: column; */

    border: 1px solid rgb(71, 218, 255);
    background-color: rgb(255, 171, 171);
    margin-bottom: 10px;
}
