@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*::before,
*::after {
  box-sizing: border-box;
}
.wrapper {
  max-width: 1156px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
textarea {
  border: none;
  outline: none;
}
