:root {
    /*? =============== CSS-змінні ====================== */
    /** ================= colors ================== */
    --color-light: #FFFFFF;
    --color-font-second: #d9d9d9;
    --color-background-buttons: #b47b48;
    --color-background-buttons-cards: #c85312;
    --color-background-main: #202023;
    --color-background-hero-card: rgb(39, 39, 39);
    --color-background-hero-card-hover: #ebad51;
    --color-background-quality-card: rgba(242, 242, 242, 0.3);
    --color-box-shadow: rgba(0, 0, 0, 0.25);
    /** ================= fonts =================== */
    --font-family: "Inter", sans-serif;
    --second-family: "Italiana", sans-serif;
}

/*! GENERAL */
body {
    padding: 5px 0;
    font-family: var(--font-family);
    color: var(--color-light);
}

.main-container {
    width: 1440px;
    margin: 0 auto;
    /* outline: 1px dashed #0ceb17; */
}

.container {
    width: 1154px;
    margin: 0 auto;
    /* outline: 1px dashed tomato; */
}

/* todo var.1 Загальний фон для header та hero  */
/* .main-container.background-img {
    background-color: var(--color-background-main);
    background-image: 
        linear-gradient(
            89deg,
            rgb(0, 0, 0, 0.7) 0%, 
            rgba(3, 3, 3, 0) 60.64%
        ),
        url(../images/header-hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center -1px;
    background-size: 1440px;
} */


/*? header */
.header {
    padding-top: 55px;
    /* todo var.2(1) Загальний фон для header та hero  - 1-ша частина */
    background-color: var(--color-background-main);
    background-image:
        /** figma's variant */
        linear-gradient(
            89deg,
            rgb(0, 0, 0, 0.7) 0%, 
            rgba(3, 3, 3, 0) 60.64%
        ),
        /** my variant */
        /* linear-gradient(
            89deg, 
            rgba(0, 0, 0, 0.9) 0%, 
            rgba(3, 3, 3, 0.2) 60%
            ), */
        url(../images/header-hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1440px;
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** _________________________________________________ */

.nav-list {
    height: 29px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    /* font-family: var(--font-family); */
    font-weight: 200;
    font-size: 24px;
    color: var(--color-light);
}


/*? hero */
.hero {
    padding-top: 71px;
    padding-bottom: 36px;
    /* todo var.2(2) Загальний фон для header та hero  - 2-га частина */
    background-color: var(--color-background-main);
    background-image: 
        /** figma's variant */
        linear-gradient(
            89deg,
            rgb(0, 0, 0, 0.7) 0%, 
            rgba(3, 3, 3, 0) 60.64%
        ),
        /** my variant */
        /* linear-gradient(
            89deg, 
            rgba(0, 0, 0, 0.9) 0%, 
            rgba(3, 3, 3, 0.2) 60%
            ), */
        url(../images/header-hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0, center -84px;
    background-size: 1440px;
}

.hero-title {
    width: 561px;
    height: 170px;
    margin-bottom: 22px;
    /* font-family: var(--font-family); */
    font-weight: 200;
    font-size: 70px;
    text-transform: uppercase;
    /* color: var(--color-light); */
}

.hero-text {
    width: 570px;
    height: 200px;
    margin-bottom: 33px;
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 21px;
    /* color: var(--color-light); */
}

.hero-button {
    width: 207px;
    height: 57px;
    margin-bottom: 125px;
    /*todo з макету: */
    /* padding: 16px 34px 16px 34px; */
    /*todo так краще: */
    padding: 15px 38px 14px 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    border: none;
    border-radius: 17px;
    color: var(--color-light);
    background-color: var(--color-background-buttons)
}

/*todo Приховуємо заговок */
.visually-hidden {
    /** var. 1 */
    /* display: none; */
    /** var. 2 */
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.hero-list {
    display: flex;
    justify-content: space-between;
}

.hero-item {
    width: 310px;
    /* height: 225px; */
    /* outline: 1px dashed violet; */
}

.card {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-background-hero-card);
    /* outline: 1px dashed tomato; */
}
.card:hover {
    background-color: var(--color-background-hero-card-hover);
}

.img-box {
    position: relative;
    height: 100%;
    display: flex;
    /* outline: 1px solid blue; */
}

.img-box::before {
    content: "";
    /* display: block; */
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        /** figma's variant */
        /* linear-gradient(
            66deg, 
            rgb(0, 0, 0, 1) 0%, 
            rgba(0, 0, 0, 0) 100%
        ); */
        /** my variant-1 */
        /* linear-gradient(
            65deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(39, 39, 39, 0) 70%
        ); */
        /** my variant-2 */
        linear-gradient(
            67deg, 
            rgba(0, 0, 0, 0.5) 0%, 
            rgba(3, 3, 3, 0) 50%
        );

}

/* .card-img {
    outline: 1px dotted yellow;
} */

.hero-item:last-child .card-img {
    align-self: flex-end;
    /* align-self: center; */
}

.description-box {
    flex-grow: 1;
    flex-basis: min-content;
    height: 100%;
    padding-top: 51px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px dotted green; */
}

.hero-item:last-child .description-box {
    padding-top: 25px;
}

.card-price {
    /* font-family: var(--font-family); */
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    /* color: var(--color-light); */
}

.card-name {
    /* font-family: var(--font-family); */
    font-weight: 500;
    /* font-size: 16px; */
    font-size: 14px;
    text-align: center;
    /* color: var(--color-light); */
}

.card-button {
    width: 79px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: var(--font-family); */
    font-weight: 900;
    /* font-size: 16px; */
    border: none;
    border-radius: 4px;
    color: var(--color-light);
    background-color: var(--color-background-buttons-cards);
}


/*? menu */
.menu {
    padding-top: 21px;
    padding-bottom: 73px;
    background-color: var(--color-background-main);
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** _________________________________________________ */

.menu-title {
    height: 77px;
    margin-bottom: 18px;
    /* font-family: var(--font-family); */
    font-weight: 100;
    font-size: 64px;
    text-align: center;
    /* color: var(--color-light); */
}

.menu-list {
    /* height: 29px; */
    padding: 0 150px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 197px;
    row-gap: 9px;
    /* outline: 1px solid yellow; */
}

.menu-item {
    width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 1px dotted blue; */
}

.menu-link {
    width: 100%;
    margin-bottom: 8px;
}

.menu-card-box {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid var(--color-light)
}

.menu-item:nth-child(1) .menu-card-box,
.menu-item:nth-child(2) .menu-card-box  {
    height: 229px;
}

.menu-card-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--color-light);
}

.menu-img {
    position: absolute;
}

.menu-item:nth-child(1) .menu-img {
    top: 14px;
    left: 20px;
}

.menu-item:nth-child(2) .menu-img:nth-child(1) {
    top: -42px;
    right: -19px;
}
.menu-item:nth-child(2) .menu-img:nth-child(2) {
    top: 10px;
    left: -13px;
}
.menu-item:nth-child(2) .menu-img:nth-child(3) {
    top: 59px;
    right: 1px;
}

.menu-item:nth-child(3) .menu-img:nth-child(1) {
    top: -17px;
    left: 40px;
}
.menu-item:nth-child(3) .menu-img:nth-child(2) {
    top: 91px;
    left: 65px;
}

.menu-item:nth-child(4) .menu-img:nth-child(1) {
    top: -4px;
    left: 47px;
}
.menu-item:nth-child(4) .menu-img:nth-child(2) {
    top: 66px;
    left: 30px;
}

.menu-description {
    /* font-family: var(--font-family); */
    font-weight: 800;
    font-size: 25px;
    color: var(--color-light);
}

.menu-button {
    width: 160px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: var(--font-family); */
    font-weight: 800;
    font-size: 25px;
    border: none;
    border-radius: 17px;
    color: var(--color-light);
    background-color: var(--color-background-buttons);
}


/*? quality */
.quality {
    padding-top: 90px;
    background-color: var(--color-background-main);
}

.quality-background-container {
    width: 1440px;
    margin: 0 auto;
    /* outline: 1px dashed #0739ff; */
}

/* todo var.1 Градіент частини фону (плавний) */
.quality-background-container1 {
    /* padding-top: 90px; */
    padding-bottom: 48px;
    /* background-color: darkblue; */
    background-color: var(--color-background-main);
    background-image:
        linear-gradient(
            50deg,
            /*! Суцільній КОЛЬОРОВИЙ градіент */
            /* #f4433684 58%,
            #09792b6d 58%,
            #09792b61 100% */
            /*! Суцільній СІРИЙ градіент */
            /* rgba(0, 0, 0, 0.5) 58%, 
            rgba(3, 3, 3, 0.1) 58%,
            rgba(3, 3, 3, 0.1) 100% */
            /*! КІНЦЕВИЙ градіент */
            rgba(0, 0, 0, 0.5) 50%, 
            rgba(3, 3, 3, 0.1) 60%
        ),
        url(../images/quality-background-first.png),
        url(../images/quality-background-second.png),
        url(../images/quality-background-third.png);
    background-repeat: no-repeat;
    background-position:
        left 0px top 0px, /*! linear-gradient */
        left 0px top 211px, /*! background-first */
        left 162px top 211px, /*! background-second */
        left 783px top 211px;  /*! background-third */
}

/* todo var.2 Градіент частини фону (чіткий) */
.quality-background-container {
    /* padding-top: 90px; */
    padding-bottom: 48px;
    /* background-color: darkblue; */
    background-color: var(--color-background-main);
    background-image:
        url(../images/quality-background-third.png),
        linear-gradient(
            /* rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.3) */
            /*! КІНЦЕВИЙ градіент */
            rgba(32, 32, 35, 0.5), 
            rgba(32, 32, 35, 0.5)
        ),
        url(../images/quality-background-second.png),
        url(../images/quality-background-first.png);
        
    background-repeat: no-repeat;
    background-position:
        left 783px top 121px,  /*! background-third */
        left 0px top 0px, /*! linear-gradient */
        left 162px top 121px, /*! background-second */
        left 0px top 121px; /*! background-first */
    /** можна без цього */
    /* background-size: */
        /*! background-third */
        /* 46% 73%, */
        /*! linear-gradient */ 
        /* 100%, */
        /*! background-first */ 
        /* 40% 73%, */
        /*! background-second */ 
        /* 73% 73%;  */
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** _________________________________________________ */

.quality-title {
    height: 75px;
    /* margin-bottom: 84px; */
    margin-left: 451px;
    font-family: var(--second-family);
    font-weight: 400; /* ! тут треба, бо це - h2 */
    font-size: 64px;
    /* color: var(--color-light); */
}

.quality-base-list {
    padding-left: 29px;
    /* padding-right: 66px; */
    display: flex;
    /* justify-content: space-between; */
}

.quality-base-item {
    /* width: 310px; */
    /* height: 225px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px dashed yellow; */
}
.quality-base-item:nth-child(1) {
    margin-top: -61px;
    margin-right: 13px;
}
.quality-base-item:nth-child(2) {
    margin-top: 85px;
    margin-right: 66px;
}
.quality-base-item:nth-child(3) {
    margin-top: 123px;
}

.quality-base-item:nth-child(1) .quality-img {
    margin-bottom: 20px;
}
.quality-base-item:nth-child(3) .quality-img {
    margin-bottom: -13px;
}

.quality-list {
    width: 292px;
    /* height: 198px; */
    padding: 32px 4px 55px 10px;
    backdrop-filter: blur(36px);
    box-shadow: 0 4px 20px 0 var(--color-box-shadow);
    background-color: var(--color-background-quality-card);
    /* transform: rotate(-90deg);   */
}

.quality-base-item:nth-child(1) .quality-list {
    margin-left: 33px;
}
.quality-base-item:nth-child(2) .quality-list {
    margin-left: 5px;
}
.quality-base-item:nth-child(3) .quality-list{
    margin-left: 7px;
    padding-top: 14px;
    padding-bottom: 45px;
}

.quality-item {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 24px;
    /* color: var(--color-light); */
}



/*? traditions */
.traditions {
    /* ! */
    /* height: 580px;  */
    padding-top: 55px;
    padding-bottom: 57px;
    background-color: var(--color-background-main);
    /* todo var.2(1) Загальний фон для header та hero  - 1-ша частина */
    background-image:
        /** figma's variant-1+ */
        /* linear-gradient(
            89deg,
            rgb(0, 0, 0, 1) 0%, 
            rgba(3, 3, 3, 0) 100%
        ), */
        /** figma's variant-2 */
        /* linear-gradient(
            66deg, 
            rgb(0, 0, 0, 1) 0%, 
            rgba(0, 0, 0, 0) 100%
        ), */
        /** my variant */
        linear-gradient(
            89deg, 
            rgba(0, 0, 0, 0.9) 25%, 
            rgba(3, 3, 3, 0.4) 80%
        ),
        url(../images/traditions-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1440px;
    
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** _________________________________________________ */

.traditions-title {
    width: 735px;
    height: 114px;
    margin-bottom: 111px;
    margin-left: 22px;
    font-family: var(--second-family);
    font-weight: 400; /* ! тут треба, бо це - h2 */
    font-size: 48px;
    color: var(--color-font-second);
}

.traditions-list {
    padding-left: 109px;
    padding-right: 20px;
    display: flex;
}

/* .traditions-item {
    outline: 1px dashed yellow;
} */
.traditions-item:nth-child(1) {
    padding-top: 21px;
    margin-right: 172px;
}
.traditions-item:nth-child(2) {
    padding-top: 8px;
    margin-right: 210px;
}

.traditions-item:nth-child(1) .traditions-img {
    margin-bottom: 10px;
}
.traditions-item:nth-child(2) .traditions-img {
    margin-bottom: 13px;
}
.traditions-item:nth-child(3) .traditions-img {
    margin-bottom: 9px;
}

.traditions-description {
    /* font-family: var(--font-family); */
    /* font-weight: 700; */
    font-size: 24px;
    color: var(--color-light);
}

.traditions-item:nth-child(1) .traditions-description {
    margin-left: -22px;
}
.traditions-item:nth-child(2) .traditions-description {
    margin-left: 61px;
}
.traditions-item:nth-child(3) .traditions-description {
    margin-left: -30px;
}


/*? footer */
.footer-contacts .container,
.footer-info .container {
    padding-left: 17px;
}


/*? footer-contacts */
.footer-contacts {
    padding-top: 66px;
    padding-bottom: 50px;
    background-color: var(--color-background-main);
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** _________________________________________________ */

.footer-contacts-title {
    height: 57px;
    margin-bottom: 44px;
    font-family: var(--second-family);
    font-weight: 400; /* ! тут треба, бо це - h2 */
    font-size: 48px;
    /* color: var(--color-light); */
}

.footer-contacts-address,
.footer-contacts-list {
    display: flex;
    font-style: normal;
}

.footer-contacts-map {
    margin-right: 132px;
}

.footer-contacts-item:nth-child(1) {
    margin-top: 13px;
    /* margin-right: 23px; */
}
.footer-contacts-item:nth-child(2) {
    width: 200px;
    margin-top: 18px;
    margin-left: -8px;
    text-align: center;
}

.footer-contacts-item-title {
    /* font-family: var(--font-family); */
    font-weight: 400; /* ! тут треба, бо це - h3 */
    font-size: 40px;
    /* color: var(--color-light); */
}
.footer-contacts-item:nth-child(1) .footer-contacts-item-title {
    margin-bottom: 49px;
}
.footer-contacts-item:nth-child(2) .footer-contacts-item-title {
    margin-bottom: 40px;
}

.footer-contacts-items-link {
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 24px;
    color: var(--color-light);
}

.footer-contacts-item:nth-child(2) .footer-contacts-items-item {
    /* font-family: var(--font-family); */
    font-weight: 200;
    font-size: 24px;
    /* color: var(--color-light); */
}

.footer-contacts-item:nth-child(1) .footer-contacts-items-item:nth-child(1) {
    margin-bottom: 65px;
}

.footer-contacts-item:nth-child(1) .footer-contacts-items-item:nth-child(2) {
    margin-bottom: 32px;
}


/*? footer-info */
.footer-info {
    padding-top: 40px;
    padding-bottom: 44px;
    background-color: var(--color-background-main);
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** _________________________________________________ */

.footer-info-list,
.footer-info-box-main {
    display: flex;
}

.footer-info-box-main {
    margin-bottom: 85px;
}

.footer-info-box {
    margin-right: 77px;
}

.footer-info-title-link {
    display: flex;
    width: 322px;
    height: 96px;
    margin-top: 22px;
    margin-bottom: 16px;
    /* font-family: var(--font-family); */
    font-weight: 200;
    font-size: 40px;
    color: var(--color-light);
}

.footer-info-text {
    margin-left: 17px;
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 20px;
    line-height: 1.25;
    /* color: var(--color-light); */
}

/* .footer-info-item {
    outline: 1px dotted yellow;
} */

.footer-info-item:nth-child(1) {
    margin-right: 141px;
}

.footer-info-item:nth-child(2) {
    margin-right: 147px;
}

.footer-info-item-title {
    margin-bottom: 41px;
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 24px;
    /* color: var(--color-light); */
}

.footer-info-items-link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    line-height: 1.22;
    color: var(--color-light);
}

.footer-info-item:nth-child(3) .footer-info-items-list{
    margin-left: 7px;
}

.footer-info-trademark {
    /* font-family: var(--font-family); */
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    /* color: var(--color-light); */
}