:root {
    /*? =============== CSS-змінні ====================== */
    /** ================= colors ================== */
    --color-light: #FFFFFF;
    /* --color-light: #e7f6ff; */
    /* --color-dark: #000000; */
    /* --color-font-main: #141414; */
    /* --color-font-second: #0a3853; */
    /* --color-active-link: #94cfff; */
    /* --color-buttons: #26c6ea; */
    /* --color-buttons-hover: #71f3ff; */
    --color-background-buttons: #b47b48;
    --color-background-buttons-cards: #c85312;
    --color-background-main: #202023;
    --color-background-hero-card: rgb(39, 39, 39);
    --color-background-quality-card: rgba(242, 242, 242, 0.3);
    --color-box-shadow: rgba(0, 0, 0, 0.25);
    /* --color-background-buttons-hover: #070648; */
    /* --color-background-gradient: rgba(43, 74, 97, 0.87); */
    /* --color-background-light: #e7f6ff; */
    /* --color-background-dictionary-card: rgba(255, 255, 255, 0.7); */
    /* --color-background-dictionary-card-2: rgba(231, 246, 255, 0.55); */
    /** ================= fonts =================== */
    --font-family: "Inter", sans-serif;
    --second-family: "Italiana", sans-serif;
}

/*! GENERAL */
body {
    padding: 5px 0;
    font-family: var(--font-family);
    color: var(--color-light);
}

.main-container {
    width: 1440px;
    margin: 0 auto;
    outline: 1px dashed #0ceb17;
}

.container {
    width: 1154px;
    margin: 0 auto;
    outline: 1px dashed tomato;
}

/* todo var.1 Загальний фон для header та hero  */
/* .main-container.background-img {
    background-image: 
    linear-gradient(
        89deg, 
        rgba(0, 0, 0, 0.5) 0%, 
        rgba(3, 3, 3, 0.2) 60%
        ),
    url(../images/header-hero-background.jpg);
    background-repeat: no-repeat;
    background-position: 0 -1px;
} */


/*? header */
.header {
    padding-top: 55px;
    background-color: lightcoral;
    /* todo var.2(1) Загальний фон для header та hero  - 1-ша частина */
    background-image: 
    linear-gradient(
        89deg, 
        rgba(0, 0, 0, 0.5) 0%, 
        rgba(3, 3, 3, 0.2) 60%
        ),
    url(../images/header-hero-background.jpg);
    background-repeat: no-repeat;
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** _________________________________________________ */

.nav-list {
    height: 29px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    /* font-family: var(--font-family); */
    font-weight: 200;
    font-size: 24px;
    color: var(--color-light);
}


/*? hero */
.hero {
    padding-top: 71px;
    padding-bottom: 36px;
    background-color: lightgray;
    /* todo var.2(2) Загальний фон для header та hero  - 2-га частина */
    background-image: 
    linear-gradient(
        89deg, 
        rgba(0, 0, 0, 0.5) 0%, 
        rgba(3, 3, 3, 0.2) 60%
        ),
    url(../images/header-hero-background.jpg);
    background-repeat: no-repeat;
    background-position: 0 0, 0 -84px;
}

.hero-title {
    width: 561px;
    height: 170px;
    margin-bottom: 22px;
    /* font-family: var(--font-family); */
    font-weight: 200;
    font-size: 70px;
    text-transform: uppercase;
    /* color: var(--color-light); */
}

.hero-text {
    width: 570px;
    height: 200px;
    margin-bottom: 33px;
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 21px;
    /* color: var(--color-light); */
}

.hero-button {
    width: 207px;
    height: 57px;
    margin-bottom: 125px;
    /*todo з макету: */
    /* padding: 16px 34px 16px 34px; */
    /*todo так краще: */
    padding: 15px 38px 14px 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    border: none;
    border-radius: 17px;
    color: var(--color-light);
    background-color: var(--color-background-buttons)
}

/*todo Приховуємо заговок */
.visually-hidden {
    /** var. 1 */
    /* display: none; */
    /** var. 2 */
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.hero-list {
    display: flex;
    justify-content: space-between;
}

.hero-item {
    width: 310px;
    /* height: 225px; */
    /* outline: 1px dashed violet; */
}

.card {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-background-hero-card);
    /* outline: 1px dashed tomato; */
}

.img-box {
    position: relative;
    height: 100%;
    display: flex;
    /* outline: 1px solid blue; */
}

.img-box::before {
    content: "";
    /* display: block; */
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(
            55deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(39, 39, 39, 0) 70%
        );
}

/* .card-img {
    outline: 1px dotted yellow;
} */

.hero-item:last-child .card-img {
    align-self: flex-end;
    /* align-self: center; */
}

.description-box {
    flex-grow: 1;
    flex-basis: min-content;
    height: 100%;
    padding-top: 51px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px dotted green; */
}

.hero-item:last-child .description-box {
    padding-top: 25px;
}

.card-price {
    /* font-family: var(--font-family); */
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    /* color: var(--color-light); */
}

.card-name {
    /* font-family: var(--font-family); */
    font-weight: 500;
    /* font-size: 16px; */
    font-size: 14px;
    text-align: center;
    /* color: var(--color-light); */
}

.card-button {
    width: 79px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: var(--font-family); */
    font-weight: 900;
    /* font-size: 16px; */
    border: none;
    border-radius: 4px;
    color: var(--color-light);
    background-color: var(--color-background-buttons-cards);
}


/*? menu */
.menu {
    padding-top: 21px;
    padding-bottom: 73px;
    background-color: var(--color-background-main)
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** _________________________________________________ */

.menu-title {
    height: 77px;
    margin-bottom: 18px;
    /* font-family: var(--font-family); */
    font-weight: 100;
    font-size: 64px;
    text-align: center;
    /* color: var(--color-light); */
}

.menu-list {
    /* height: 29px; */
    padding: 0 150px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 197px;
    row-gap: 9px;
    /* outline: 1px solid yellow; */
}

.menu-item {
    width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 1px dotted blue; */
}

.menu-link {
    width: 100%;
    margin-bottom: 8px;
}

.menu-card-box {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid var(--color-light)
}

.menu-item:nth-child(1) .menu-card-box,
.menu-item:nth-child(2) .menu-card-box  {
    height: 229px;
}

.menu-card-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--color-light);
}

.menu-img {
    position: absolute;
}

.menu-item:nth-child(1) .menu-img {
    top: 14px;
    left: 20px;
}

.menu-item:nth-child(2) .menu-img:nth-child(1) {
    top: -42px;
    right: -19px;
}
.menu-item:nth-child(2) .menu-img:nth-child(2) {
    top: 10px;
    left: -13px;
}
.menu-item:nth-child(2) .menu-img:nth-child(3) {
    top: 59px;
    right: 1px;
}

.menu-item:nth-child(3) .menu-img:nth-child(1) {
    top: -17px;
    left: 40px;
}
.menu-item:nth-child(3) .menu-img:nth-child(2) {
    top: 91px;
    left: 65px;
}

.menu-item:nth-child(4) .menu-img:nth-child(1) {
    top: -4px;
    left: 47px;
}
.menu-item:nth-child(4) .menu-img:nth-child(2) {
    top: 66px;
    left: 30px;
}

.menu-description {
    /* font-family: var(--font-family); */
    font-weight: 800;
    font-size: 25px;
    color: var(--color-light);
}

.menu-button {
    width: 160px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: var(--font-family); */
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius: 17px;
    color: var(--color-light);
    background-color: var(--color-background-buttons);
}


/*? quality */
.quality {
    padding-top: 90px;
    padding-bottom: 48px;
    /* background-color: darkblue; */
    background-color: var(--color-background-main);
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** _________________________________________________ */

.quality-title {
    height: 75px;
    margin-bottom: 84px;
    margin-left: 451px;
    font-family: var(--second-family);
    font-weight: 400; /* ! тут треба, бо це - h2 */
    font-size: 64px;
    /* color: var(--color-light); */
}

.quality-base-list {
    padding-left: 29px;
    padding-right: 66px;
    display: flex;
    justify-content: space-between;
}

.quality-base-item {
    width: 310px;
    /* height: 225px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px dashed yellow;
}

.quality-list {
    width: 292px;
    height: 198px;
    padding: 32px 4px 50px 10px;
    
    backdrop-filter: blur(36px);
    box-shadow: 0 4px 20px 0 var(--color-box-shadow);
    background-color: var(--color-background-quality-card);
    /* transform: rotate(-90deg);   */
}

.quality-item {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 24px;
    /* color: var(--color-light); */
}