:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #220c0c;
    --color-background-body: #e8fff3;
    --color-title-lesson: #4b4200;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    /* padding: 20px 20px 150px; */
    padding: 20px 0px 150px;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
    /* ! for position: fixed */
    /* margin-bottom: 350px; */
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    /* width: 100vw; */
    /* outline: 1px solid red; */
}

/* *======================================= */
/* ! */
/* .part_1 {
    display: none;
} */
/*! 1.Розмітка в Bootstrap (3 колонки від sm) */
.a {
    text-align: center;
    background-color: #d0d0d0;
    outline: 1px solid red;
}


/* ! */
/* .part_2 {
    display: none;
} */
/*! 2.Розмітка в Bootstrap (2 сітки від xs) */
.b {
    text-align: center;
    background-color: #e6e7ff;
    outline: 1px solid blue;
}


/* ! */
/* .part_3 {
    display: none;
} */
/*! 3.Схема навігації - breadcrumbs ("хлібні крихти") */
.part_3  .container {
    display: flex;
    align-items: center;
    outline: 1px solid tomato;
}

/* .part_3  nav {
    display: flex;
    align-items: center;
    outline: 1px solid rgb(92, 255, 71);
} */

.part_3  .с {
    background-color: #fffce6;
    outline: 1px dotted green;
}


/* ! */
/* .part_4 {
    display: none;
} */
/*! 4.Кнопки (buttons) */
.part_4 .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}



/*? ______________________________________________________ */
/* ! */
.part_0 {
    display: none;
}

/*! 0.Заголовок */