:root {
    /* *============ ПЕРЕМЕННЫЕ ЦВЕТА body ============ */
    --color-font-body: #22009e;
    --color-background-body: #fffacd;
    /* *============================================== */
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* ?============================================== */
body {
    font-family: sans-serif;
    line-height: 1.5;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
    
}
/* ?============================================== */


.container {
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    border: 2px dashed #2a2a2a;
}
