:root {
    /* *============ CSS-змінні ============ */
    --color-font-body: #4b4200;
    --color-background-body: #ffe8c1;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 20px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    color: var(--color-title-subsection);
}

/* .part {
    text-align: center;
} */

/* *======================================= */
/* ! */
/* .part_1 {
    display: none;
} */
/*! 1.Модальне вікно */
.holder1 {
    max-width: 1200px;
    /* margin: 0 auto; */
    /* outline: 1px dashed */
}

.textBox1 {
    width: 240px;
    height: 100px;
    border: 3px dotted red;
    float: left;
    margin: 10px;
}

.exemple1 {
    overflow: hidden;
    min-height: 200px;
}

/*?   Значення overflow   */
.visible1 {
    overflow: visible;
}
.hidden1 {
    overflow: hidden;
}
.scroll1 {
    overflow: scroll;
}
.auto1 {
    overflow: auto;
}

.rule1 {
    padding-top: 50px;
}

.rule1 em {
    display: inline-block;
    width: 180px;
    color: #009;
    font-weight: bold;
}

p>strong {
    display: block;
    font-style: italic;
    text-align: justify;
    color: rgb(153, 48, 0);
}


/* ! */
/* .part_2 {
    display: none;
} */
/*! 2.Властивість overflow: visible; */
.box2 {
    padding: 10px;
    width: 600px;
    /* height: 200px; */
    font-style: italic;
    border: 2px solid tomato;
}

.button2 {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 140px;
    width: 600px;
    font: inherit;
    border-radius: 10px;
    font-weight: 700;
    color: #009;
    /* opacity: 0.8; */
    /* background-color: transparent; */
}
  



/* ! */
.part_0 {
    display: none;
}
/*! 0.Заголовок */
