:root {
    /* *============ CSS-змінні ============ */
    --color-font-body: #4b4200;
    --color-background-body: #ffe8c1;
    --color-title-lesson: #4b4200;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 0 20px 150px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* *======================================= */
/* ! */
.part_1 {
    display: none;
}
/*! 1.Властивість overflow */
.holder1 {
    max-width: 1200px;
    /* margin: 0 auto; */
    /* outline: 1px dashed */
}

.textBox1 {
    width: 240px;
    height: 100px;
    border: 2px dashed red;
    float: left;
    margin: 10px;
}

.exemple1 {
    overflow: hidden;
    min-height: 200px;
}

/*todo   Значення overflow   */
.visible1 {
    overflow: visible;
}
.hidden1 {
    overflow: hidden;
}
.scroll1 {
    overflow: scroll;
}
.auto1 {
    overflow: auto;
}

.rule1 {
    padding-top: 50px;
}

.rule1 em {
    display: inline-block;
    width: 180px;
    color: #009;
    font-weight: bold;
}

p>strong {
    display: block;
    font-style: italic;
    text-align: justify;
    color: rgb(153, 48, 0);
}


/* ! */
/* .part_1-2 {
    display: none;
} */
/*! 1-2.Властивість overflow: visible; overflow: hidden; */
.box1-2 {
    padding: 15px;
    width: 200px;
    width: 600px;
    /* ? */
    /* height: 200px; */
    font-style: italic;
    border: 2px solid tomato;
    /* ? */
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
    /* overflow-y: auto; */
    /* overflow-x: auto; */
}

.button1-2 {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 20px;
    /* margin-bottom: 140px; */
    width: 600px;
    font: inherit;
    border-radius: 10px;
    font-weight: 700;
    color: #009;
    /* ? */
    /* opacity: 0.7; */
    /* background-color: transparent; */
}


/* ! */
.part_2 {
    display: none;
}
/*! 2.Заокруглене зображення */
img {
    display: block;
    max-width: 100%;
    /* ? */
    /* max-width: 115%; */
}

.thumb2 {
    margin-top: 10px;
    width: 960px;
    /* ? */
    height: 495px;

    border: 15px solid green;
    border-radius: 50px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
        0 41.8px 33.4px rgba(202, 73, 18, 0.429),
        0 100px 80px rgba(202, 94, 18, 0.466);
    /* ? */
    /* overflow: hidden; */
}


/* ! */
.part_3 {
    display: none;
}
/*! 3.Декоративний оверлей */
.box3 {
    position: relative;
    width: 300px;
    height: 300px;
    /* margin: 0 auto; */
    background-color: #bdbdbd;
    /* ? */
    overflow: hidden;
}

.overlay3-1, /* todo var.2 overlay-текст :hover */
.overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    /* ? по y */
    transform: translatey(100%);
    /* ? по x */
    /* transform: translatex(100%); */
    /* transform: translatex(-100%); */

    transition: transform 250ms ease-in-out;
}

/*todo var.1 */
.box3:hover .overlay3 {
    transform: translate(0);
    /* ? по y */
    /* transform: translatey(0); */
    /* ? по x */
    /* transform: translatex(0); */
}
/*todo var.2 */
/* .box3:hover .overlay3-1 {
    transform: translatey(-100%);
} */
/*todo var.2 */
/* .box3:active .overlay3 {
    transform: translatey(0);
} */

.overlay3 p {
    color: #ffffff;
    padding: 10px;
    margin: 0;
    font-size: 28px;
    text-align: center;
}

.overlay3 code {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #fff;
    color: #2a2a2a;
}

/*todo overlay-текст */
h3 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
}

/*todo overlay-зображення */
.overlay3 img {
    display: block;
    max-width: 100%;
    height: 100%;
    /** задаємо border */
    /* border: 2px solid #2a2a2a;
    border-radius: 30px; */
    /** застосовуємо властивість object-fit: */
    /* object-fit: fill; */
    /* object-fit: contain; */
    object-fit: cover;
    /* object-fit: scale-down; */
    /* object-fit: none; */
}


/* ! */
.part_4 {
    display: none;
}
/*! 4.Випадаюче меню */
.menu4 {
    display: flex;
}

.menu-item4 {
    position: relative;
    margin-right: 15px;
    border-radius: 8px 8px 0 0;
    border-top: 2px solid tomato; 
    border-right: 2px solid tomato; 
    border-left: 2px solid tomato;
    /*todo var.2 */
    /* overflow: hidden; */
}

/*todo var.1 */
.menu-item4:hover .submenu4 {
    display: block;
}
/*todo var.2 */
/* .menu-item4:hover {
    border-color: teal;
    overflow: visible;
} */

.menu-item4:hover .menu-link4 {
    background-color: palevioletred;
}

.menu-link4 {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px 6px 0 0;
    background-color: teal;
    color: white;
}

.submenu4 {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    list-style: none;
    padding: 10px;
    border-right: 2px solid #525252; 
    border-bottom: 2px solid #525252;   
    border-left: 2px solid #525252;
    border-radius: 0 0 8px 8px;
    background-color: #ccc;
    /*todo var.1 */
    display: none;
}

.submenu a {
    text-decoration: none;
}

.part_4>p {
    margin-top: 20px;
    width: 50%;
}


/* ! */
.part_5 {
    display: none;
}
/*! 5.Фіксований header */



/* ! */
.part_6 {
    display: none;
}
/*! 5.6.Навігація сайту через якорі та scroll-to-top */


/** ______________________________________________________ */
/* ! */
.part_0 {
    display: none;
}
/*! 0.Заголовок */
