:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #220c0c;
    --color-background-body: #e6ffe4;
    --color-title-lesson: #c50097;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.2rem;
    /* padding: 20px 20px 150px; */
    padding: 20px 0px 150px;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
    /* ! for position: fixed */
    margin-bottom: 20px;
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.information-hint {
    font-family: Helvetica;
    font-style: italic;
    margin-bottom: 50px;
    font-size: 1.2rem;
    text-align: center;
    color: darkred;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 20px;
    /* min-height: 100vh; */
    /* width: 100vw; */
    /* outline: 1px solid red; */
}

/* *======================================= */
/*? Загальні властивості кнопок */
button {
    padding: 5px 10px;
    font-family: monospace;
    font-weight: 700;
    border-radius: 5px;
    border-color: gray;
    color: white;
    /* color: yellow; */ /* On */
    background-color: red; /* #b70000 */
    /* background-color: green; */ /* On */
    box-shadow: 6px 6px 8px #636363;
    /* box-shadow: 3px 3px 4px #969696; */ /* On */
}


/* ! */
/* .part_1 {
    display: none;
} */
/*! 1.Предикатні функції. */


/* .part_2 {
    display: none;
} */
/*! 2.Колбек-функції. Інлайн колбеки. */


/* .part_3 {
    display: none;
} */
/*! 3.Абстрагування повторення (використання callback-функцій). */


/* .part_4 {
    display: none;
} */
/*! 4.Стрілкові функції. Неявне повернення. Псевдомасив arguments. Стрілкові функції як колбеки. */


/* .part_5 {
    display: none;
} */
/*! 5.Фільтрація масиву. */


/* .part_6 {
    display: none;
} */
/*! 6. */


/* .part_7 {
    display: none;
} */
/*! 7. */





/*? ______________________________________________________ */
/* ! */
.part_0 {
    display: none;
}
/*! 0.Заголовок */