:root {
    /* *============ CSS-змінні ============ */
    --color-font-body: #7b00ab;
    --color-background-body: #defff5;
}

/* html {
    font-size: 40px;
} */

body {
    padding: 20px;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    /* font-size: 20px; */
    font-size: 32px;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

/* *========================================= */

/*! Одиниці вимірювання в CSS: px, %, em, rem */
.item {
    height: 200px;
    outline: 2px dashed rgb(24, 0, 179);
    background-color: #ffff9f;
}

.item:nth-child(1) {
    width: 400px;
    background-color: #e7ffba;
}

.item:nth-child(2) {
    width: 30%;
    background-color: #faffba;
}

.item:nth-child(3) {
    width: 10em;
    background-color: #ffe3ba;
}

.item:nth-child(4) {
    width: 10rem;
    background-color: #baccff;
}

.parent-list {
    /* width: 1000px; */
    /* height: 600px; */
    display: flex;
    /* outline: 4px double tomato; */
    background-color: rgb(202, 132, 255);
}


/*! Приклади одиниць вимірювання */
.text {
    margin-top: 20px;
    font-size: 20px;
    color: blue;
}

strong {
    font-size: 2em;
    /* font-size: 200%; */
    color: red;
}

span {
    font-size: 2rem;
    color: green;
}


/*! Псевдоелементи​ */
.main-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background-color: #baccff;
}

.main-item::before {
    /* content: 'Це текст в ::before'; */
    content: '';
    display: inline-block;
    /* margin-left: -120px; */
    /* margin-right: 400px; */
    width: 100px;
    height: 100px;

    font-size: 20px;
    color: rgb(255, 0, 0);
    background-color: orange;
}

.main-item::after {
    /* content: 'Це текст в ::before'; */
    content: '';
    display: inline-block;
    /* margin-left: 200px; */
    width: 100px;
    height: 100px;
    font-size: 20px;
    color: rgb(0, 255, 179);
    background-color: rgb(255, 0, 208);
}


/*! Псевдоелементи​ (приклад) */
.list {
    margin: 0;
    list-style: none;
}

.list-item:not(:last-child) {
    margin-bottom: 5px;
}

.list-link {
    display: inline-flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    font-size: 32px;
}

.list-link:hover {
    color: #2196f3;
}

.list-link::before,
.list-link::after {
    content: "";
    width: 24px;
    height: 24px;
    background-size: contain;
    background-color: rgb(0, 166, 255);
    
}

/* Adds and hides eyes icon after the link text */
.list-link::after {
    display: none;
    margin-left: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/599/599516.png")
}

/* Show arrow icon on hover */
.list-link:hover::after {
    display: block;
}