
.body {
    font-family: 'Montserrat', serif;
    color: var(--color-font-body);
    background-color: var(--color-background-body);

    padding-bottom: 20px;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* *======================================= */

:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #220c0c;
    --color-background-body: #fff8de;
    --color-title-lesson: #4b4200;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    padding: 20px 20px 150px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
    /* ! for position: fixed */
    /* margin-bottom: 350px; */
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* *======================================= */
/* ! */
/* .part_1 {
    display: none;
} */
/*! 1.Елемент <svg> */
/* .svg1 {
    background-color: #786a00;
    outline: 2px dashed red;
    fill: brown;
} */

/* #fresh-food {
    fill: green;
    fill-opacity: 0.5;
    stroke: red;
    stroke-opacity: 0.5;
    stroke-width: 2;
} */


/* ! */
/* .part_2 {
    display: none;
} */
/*! 2.Елемент <rect> */
/* .first-rect2 {
    width: 250px;
    height: 150px;
    fill: yellow;
    stroke: blue;
    stroke-width: 7px;
} */


/*! Елемент  <polygon> */
.hidden {
    display: none;
}


/*! Елемент <g> ПРИКЛАДИ */
#myGroup {
    fill-opacity: 0.5;
    stroke: black;
    stroke-width: 2;
}
#sym01 {
    fill-opacity: 0.5;
}



/*! SVG-документ */
/*? Файл_icon.svg */
.svg-icon {
    outline: 1px solid blue;
}

/*! Оформлення фігур */
.container {
    display: flex;
    justify-content: center;
    padding: 16px;
    outline: 4px double red;
}
.icon {
    margin-left: 12px;
    margin-right: 12px;
    border: 2px dashed #2a2a2a;
    border-radius: 8px;
    fill: red;
    stroke: #00aeff;
}
.icon:last-child {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}
/* ✅ */
.icon:hover {
    fill: #00aeff;
    fill-opacity: 0.7;
    stroke: red;
    stroke-width: 2px;
}


/*! Файл_instagram.svg */
.instagram-icon {
    margin-left: 12px;
    margin-right: 12px;
    border: 2px dashed #2a2a2a;
    border-radius: 8px;
    /* ❌ */
    fill: rgb(51, 255, 0);
    stroke: #00aeff;
}


/*! SVG-документ: іконка-instagram */
.instagram-icon-svg {
    margin-left: 12px;
    margin-right: 12px;
    border: 2px dashed #2a2a2a;
    border-radius: 8px;
    /* ✅ */
    fill: blue;
    stroke: #ff0000;
    stroke-width: 1px;
}
/* ✅ */
.instagram-icon-svg:hover {
    fill: red;
    stroke: green;
}


/*? ______________________________________________________ */
/* ! */
.part_0 {
    display: none;
}
/*! 0.Заголовок */
