:root {
    /* *============ CSS-змінні ============ */
    --color-font-body: #005600;
    --color-background-body: #ffdbdb;
}

body {
    font-family: 'Montserrat', serif;
    color: var(--color-font-body);
    background-color: var(--color-background-body);

    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}
/* *======================================= */

/*! 1.position:static */
.father1 {
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
    color: red;
    background: #fffdd6;
    outline: 4px double rgb(61, 56, 0);
}

.title1 {
    position: static;
    left: 10%;
    top: 10%;
    font-size: 1.5rem;
    color: var(--color-font-body);
    background: #b8f1ff;
    outline: 1px dashed green;
}
.title1::after {
    content: '(без позиціонування)';
    margin-left: 5px;
    font-size: initial;
    font-style: italic;
    color: initial;
    outline: 1px dashed #ff6d6d;
}

.child1 {
    width: 70%;
    height: 3rem;
    color: initial;
    background: #fffaa5;
    outline: 1px dotted blue;
}


/*! 2.position:relative */
.father2 {
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
    color: red;
    background: #fffdd6;
    outline: 4px double rgb(61, 56, 0);
}

.title2 {
    /* position: static; */
    position: relative;
    left: 10%;
    top: 10%;
    font-size: 1.5rem;
    color: var(--color-font-body);
    background: #b8f1ff;
    outline: 1px dashed green;
}
.title2::after {
    content: '(left: 10%; top: 10%;)';
    margin-left: 5px;
    font-size: initial;
    font-style: italic;
    color: initial;
    outline: 1px dashed #ff6d6d;
}

.child2 {
    width: 70%;
    height: 3rem;
    color: initial;
    background: #fffaa5;
    outline: 1px dotted blue;
}


/*! 3.position:absolute від <body> */
.father3 {
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
    color: red;
    background: #fffdd6;
    outline: 4px double rgb(61, 56, 0);
}

.title3 {
    /* position: static; */
    /* position: relative; */
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 1.5rem;
    color: var(--color-font-body);
    background: #b8f1ff;
    outline: 1px dashed green;
}
.title3::after {
    content: '(left: 10%; top: 10%; від <body>)';
    margin-left: 5px;
    font-size: initial;
    font-style: italic;
    color: initial;
    outline: 1px dashed #ff6d6d;
}

.child3 {
    width: 70%;
    height: 3rem;
    color: initial;
    background: #fffaa5;
    outline: 1px dotted blue;
}


/*! 4.position:absolute від <father4> */
.original-father4 {
    width: 500px;
    height: 100px;
    outline: 4px double rgb(4, 0, 61);
}

.father4 {
    position: relative;
    /* left: 10%;
    top: 10%; */
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
    color: red;
    background: #fffdd6;
    outline: 4px double rgb(61, 56, 0);
}

.title4 {
    /* position: static; */
    /* position: relative; */
    position: absolute;
    left: 10%;
    top: 10%;
    width: 516px;
    font-size: 1.5rem;
    color: var(--color-font-body);
    background: #b8f1ff;
    outline: 1px dashed green;
}
.title4::after {
    content: '(left: 10%; top: 10%; від <father4>)';
    margin-left: 5px;
    font-size: initial;
    font-style: italic;
    color: initial;
    outline: 1px dashed #ff6d6d;
}

.child4 {
    width: 70%;
    height: 3rem;
    color: initial;
    background: #fffaa5;
    outline: 1px dotted blue;
}


/*! 5.position:fixed */
.father5 {
    width: 500px;
    /* height: 100px; */
    margin-bottom: 20px;
    color: red;
    background: #fffdd6;
    outline: 4px double rgb(61, 56, 0);
}

.title5 {
    position: static;
    font-size: 1.5rem;
    color: var(--color-font-body);
    background: #b8f1ff;
    outline: 1px dashed green;
}
.title5::after {
    content: '(без позиціонування)';
    margin-left: 5px;
    font-size: initial;
    font-style: italic;
    color: initial;
    outline: 1px dashed #ff6d6d;
}

.child5 {
    width: 70%;
    /* height: 3rem; */
    color: initial;
    background: #fffaa5;
    outline: 1px dotted blue;
}

/*? КНОПКИ */
/*? Кнопка-догори (загальні стили) */
.arrow-button {
    position: fixed;
    right: 30px;
    display: inline-block;
    margin: 0;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
    font-weight: 700;
    color: red;
    border: 2px solid red;
    border-radius: 8px;
    background-color: #a2cfff;
    cursor: pointer;
}
/* ? Кнопка-донизу */
.down-button {
    bottom: 30px;
}


/*! 6.position:sticky */
.father6 {
    width: 500px;
    /* height: 100px; */
    margin-bottom: 20px;
    color: red;
    background: #fffdd6;
    outline: 4px double rgb(61, 56, 0);
}

.title6 {
    width: 500px;
    position: sticky;
    top: 0;
    /* left: 10px; */
    font-size: 1.5rem;
    color: var(--color-font-body);
    background: #b8f1ff;
    outline: 1px dashed green;
}
.title6::after {
    content: '(без позиціонування)';
    margin-left: 5px;
    font-size: initial;
    font-style: italic;
    color: initial;
    outline: 1px dashed #ff6d6d;
}

.child6 {
    width: 70%;
    /* height: 3rem; */
    color: initial;
    background: #fffaa5;
    outline: 1px dotted blue;
}