// ? reviews (BEM+SASS)
.reviews {
    height: 522px;
    padding-top: 25px;
    padding-bottom: 114px;
    border-bottom: 2px solid $color-light;
    background-color: $color-background-brand;
    background-image:
        url(../images/reviews-background-image.png),
        url(../images/reviews-background.jpg);
    background-repeat: no-repeat;
    background-position: 
        calc(50% - 607px) bottom,
        center 0;
    background-size: 
        auto, 
        1440px;

    .container {
        //! Додаткові flex-властивості до container
        padding-right: 80px;
        padding-left: 79px;

        .section-title {
            margin-bottom: 24px;
            // @extend .section-title;
        }

        .reviews-list {
            display: flex;
            justify-content: space-between;
            // outline: 1px dotted red;
            
            &__item {
                padding: 49px 11px 29px 18px;
                width: 255px;
                // height: 292px;
                border-radius: 15px;
                // outline: 1px dashed yellow;
            }
            
            &__item:nth-child(1) {
                background: 
                linear-gradient(
                    135deg, 
                    #00e5e6 7.29%, 
                    #00a8f7 26.04%, 
                    #9a76f9 62.5%, 
                    #cc5ec2 100%
                );
                box-shadow:
                    0 14px 0 -5px #7b54b2,
                    0 30px 0 -13px #533978;
            }
            &__item:nth-child(2) {
                background: 
                linear-gradient(
                    135deg, 
                    #ff68b4 0%, 
                    #ff45e1 26.04%, 
                    #ce3aff 62.84%, 
                    #8961ff 100%
                );
                box-shadow:
                0 14px 0 -5px #9159b1,
                0 30px 0 -13px #61337c;
            }
            &__item:nth-child(3) {
                background: 
                linear-gradient(
                    135deg, 
                    #ffe128 0%, 
                    #ff9b5c 30.21%, 
                    #ff8381 63.29%, 
                    #ff5489 100%
                );
                box-shadow:
                0 14px 0 -5px #b95a4c,
                0 30px 0 -13px #732f26;
            }

            &__review {
                margin-bottom: 8px;
                // font-family: $font-family;
                // font-weight: 400;
                font-size: 24px;
                line-height: 1.17;
                //! Інші властивості для сторінки index-ua.html
                @if $lang == ua {
                    font-size: 19px;
                    line-height: 1.175;
                }
                // color: $color-light;
            }
            
            &__date {
                //! var.1 - Вибір властивості для сторінки index-ua.html або index.html (eng) 
                // //* властивість для сторінки index.html (eng)
                // margin-bottom: 47px;
                // //* інша властивість для сторінки index-ua.html
                // @if $lang == ua {
                //     margin-bottom: 70px;
                // }
                //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
                margin-bottom: if($lang == ua, 70px, 47px);
                
                // font-family: $font-family;
                // font-weight: 400;
                font-size: 14px;
                line-height: 1.14;
                color: $color-font-third;
            }
            
            &__reviewer-box {
                display: flex;
                align-items: center;
                gap: 5px;
                // outline: 1px solid black;
            }
            
            &__reviewer-img {
                border-radius: 50%;
            }
            
            &__reviewer-name {
                margin-bottom: 1px;
                // font-family: $font-family;
                // font-weight: 400;
                font-size: 14px;
                line-height: 1.14;
                // color: $color-light;
            }
            
            &__reviewer-term {
                // font-family: $font-family;
                // font-weight: 400;
                font-size: 12px;
                color: $color-font-third;
            }
        }
    }
}
