// ? footer (BEM+SASS)
.footer {
    // height: 316px;
    padding-top: 45px;
    padding-bottom: 38px;
    border-bottom: 24px solid $color-light;
    background-color: $color-background-footer;

    .footer-list {
        margin-bottom: 22px;
        // outline: 1px dashed yellow;
        
        &__item {
            display: flex;
            justify-content: space-between;
        }
        &__item:not(:last-child) {
            margin-bottom: 10px;
        }
        
        &__question {
            // font-family: $font-family;
            // font-weight: 400;
            font-size: 24px;
            line-height: 1.17;
            // color: $color-light;
        }
        
        &__link {
            // font-family: $font-family);
            // font-weight: 400;
            font-size: 24px;
            line-height: 1.17;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $color-light;
            // * анімація
            transition: 
                transform, color, 
                300ms 
                ease-in-out;
        }
        &__link:hover {
            color: $color-brand-hover;
            transform: scale(1.05);
        }
        
        &::after {
            content: "";
            display: block;
            width: 100%;
            height:  2px;
            margin-top: 20px;
            background-color: $color-border;
        }
    }

    &__all-box {
        display: flex;
        justify-content: space-between;
    }
    
    &__trademark{
        margin-bottom: 7px;
    }
    
    &__trademark,
    &__name-country {
        // font-family: $font-family;
        // font-weight: 400;
        font-size: 18px;
        left: 1.67;
        // color: $color-light;
    }
    
    &__logo-box {
        margin-top: -25px;
    }
    
    .footer-logo {
        display: flex;
        // outline: 1px solid green;
    }
    
    &__logo-text {
        margin-top: -19px;
        margin-left: 26px;
        font-family: $third-family;
        // font-weight: 400;
        font-size: 24px;
        line-height: 1.0;
        // color: $color-light;
        // outline: 1px solid blue;
    }
}
