:root {
    /** colors */
    --background-color: #1E252B;
    --color-white: #FFFFFF;
    --color-white-90: #e6e6e6;
    /** fonts */
    --font-family: "Poppins", sans-serif;
    --second-family: "Lora", sans-serif;
    --third-family: "Roboto", sans-serif;
}


.container{
    width: 1224px;
    margin: 0 auto;
    outline: 1px dashed tomato;
}

/*? header */
.header {
    /* padding-top: 24px; */
    /* padding-bottom: 25px; */
    background-color: #d2fff2;
}


/*? main */
/*? section hero */
.hero {
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    background-color: rgb(168, 168, 168);
}

/*? section tools */
.tools {
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    background-color: rgb(209, 196, 255);
}

/*? section brands */
.brands {
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    background-color: rgb(0, 82, 0);
}

/*? section newcomer */
.newcomer {
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    background-color: rgb(117, 104, 0);
}

/*? section team */
.team {
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    background-color: rgb(0, 114, 88);
}

/*? section join */
.join {
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    background-color: rgb(255, 149, 149);
}

/*? footer */
.footer {
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    background-color: rgb(99, 99, 99);
}