:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Lora", sans-serif;
    --third-family: "Roboto", sans-serif;
}
/* ! */
:root {
    --background-color: #1E252B;
    --color-white: #FFFFFF;
    --color-white-90: #e6e6e6;
}
.container{
    width: 1224px;
    margin: 0 auto;
    outline: 1px dashed tomato;
}
.flex{
    display: flex;
    width: 1215px;
    /* justify-content: space-between; */
}
.header{
    padding-top: 27px;
    background-color: #1E252B;
}
.logo-link{
    display: flex;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    margin-right: 257px;
    color: var(--color-white-90);
}

/* ! це не декоративне зображення */
/* .logo-link::before {
    width: 20px;
    margin-right: 21px;
    background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1E252B;
    content: '';
} */

.nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    align-items: center;
    width: 431px;
    outline: 2px solid red;
    justify-content: space-between;
    align-items: center;
    margin-right: 193px;
}
.nav-list-item{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
}
.header-list{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: red 2px solid;
    width: 203px;
}
.flex-hero{
    display: flex;
    /* text-align: left; */
    width: 600px;
    outline:  dashed;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    flex-wrap: wrap;
}
.hero-titel{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
}
