:root {
    /*? =============== CSS-змінні ====================== */
    /** ================= colors ================== */
    --color-light: #FFFFFF;
    --color-font-main: rgba(255, 255, 255, 0.9);
    --color-font-second: rgba(255, 255, 255, 0.55);
    --color-font-auth: rgba(255, 255, 255, 0.78);
    --color-font-placeholder: rgba(255, 255, 255, 0.38);
    --color-font_active-or-background_hover: #ff6e30;
    --color-font-hover: #fdf5ff;
    --color-background-main: #1e252b;
    --color-background-hero-img: #c4c4c4;
    --color-background-forms: #283036;
    --color-background-tools-card-hover: rgba(40, 48, 54, 0.6);
    --color-input-border: #837a93;
    --color-border-sections: rgba(255, 255, 255, 0.15);
    
    /* --color-background-buttons: #b47b48; */
    /* --color-box-shadow: rgba(0, 0, 0, 0.25); */
    /** ================= fonts =================== */
    --font-family: "Poppins", sans-serif;
    --second-family: "Lora", sans-serif;
    --third-family: "Roboto", sans-serif;
}

/*! GENERAL */
body {
    padding: 5px 0;
    font-family: var(--font-family);
    color: var(--color-font-main);
}

.main-container {
    width: 1440px;
    margin: 0 auto;
    outline: 1px dashed blue;
}

.container {
    width: 1224px;
    margin: 0 auto;
    outline: 1px dashed red;
}


/*? header */
.header {
    padding-top: 26px;
    /* padding-bottom: 58px; */
    background-color: #d2fff2;
    background-color: var(--color-background-main);
}

/** --- Додаткові flex-властивості до container ---- */
.flex,
.navigation,
.logo-link,
.nav-list,
.auth-item,
.auth-list {
    display: flex;
    align-items: center;
}
/** _________________________________________________ */

.navigation {
    /* margin-right: 193px; */
    margin-right: 153px;
    padding-left: 12px;
}

.logo-link {
    margin-right: 257px;
    /* font-family: var(--font-family); */
    color: var(--color-font-main);
    fill: var(--color-light);
    /* outline: 1px dotted blue; */
}

.logo-svg-box {
    width: 38px;
    height: 38px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    /** анімація */
    transition:
        color, fill,
        500ms
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        0ms;
    /* outline: 1px dotted green; */
}
.logo-link:hover .logo-svg-box {
    fill: black;
    background-color: var(--color-font_active-or-background_hover);
}

.logo-name {
    /* font-family: var(--font-family); */
    font-weight: 600;
    font-size: 22px;
    /* color: var(--color-font-main); */
}

.nav-list {
    width: 431px;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item:nth-child(2)::after {
    content: "";
    width: 18px;
    height: 18px;
    margin-left: 4px;
    /* background-color: gray; */
    background-image: url(../images/header-arrow-categories.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.nav-link {
    /* font-family: var(--font-family); */
    font-weight: 500;
    /* font-size: 16px; */
    color: var(--color-font-second);
}

.auth-list{
    gap: 14px;
    /* outline: 1px dotted blue; */
}

.auth-item {
    height: 48px;
    padding: 12px 28px;
    border-radius: 8px;
    /* background-color: var(--color-background-forms); */
    /** анімація */
    transition:
        color,
        300ms
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        0ms;
}
/** загальні стилі */
.buttons-hover:hover {
    color: var(--color-font-hover);
    background-color: var(--color-font_active-or-background_hover);
}

.auth-link {
    /* font-family: var(--font-family); */
    font-weight: 600;
    /* font-size: 16px; */
    color: var(--color-font-auth);
    
}


/*? main */
/*? section hero */
.hero {
    /* ! потім прибрати - height: 626px */
    /* height: 626px;    */
    padding-top: 58px;
    background-color: rgb(168, 168, 168);
    background-color: var(--color-background-main);
}
.hero-background-container {
    width: 1440px;
    /* ! потім прибрати - height: 100% */
    /* height: 100%; */
    margin: 0 auto;
    background-image:
        url(../images/hero-background.png);
        background-repeat: no-repeat;
        background-position: right 0 bottom 0;
        /* outline: 1px dashed #0739ff; */
}

.hero .container {
    padding-top: 46px;
    padding-left: 3px;
}

.hero-title {
    width: 600px;
    margin-bottom: 30px;
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 50px;
    line-height: 1.4;
    /* color: var(--color-font-main); */
}

.hero-title-dot {
    color: #ff6e30;
}

.hero-text {
    width: 487px;
    margin-bottom: 60px;
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 18px;
    line-height: 1.67;
    color: var(--color-font-second);
}

.hero-form {
    width: 498px;
    height: 64px;
    padding-right: 11px;
    /* padding-left: 55px; */
    padding-left: 18px;
    margin-bottom: 110px;
    display: flex;
    /* justify-content: space-between; */
    gap: 13px;
    align-items: center;
    border-radius: 15px;
    fill: transparent;
    stroke: var(--color-light);
    stroke-opacity: 0.38;
    background-color: var(--color-background-forms);
}

.hero-form:focus-within .hero-label {
    stroke: var(--color-font_active-or-background_hover);
    stroke-opacity: 0.5;
    /*todo var.2 Анімація на кнопці при події hover */
    /*! 1.Назва анімації */
    animation-name: pulse-label;
    /*! 2.Тривалість анімації */   
    animation-duration: 3s;
    /*! 3.Функція розподілу часу */
    animation-timing-function: linear;
    /*! 5.Кількість повних повторень анімації - постійно */
    animation-iteration-count: infinite;
    /*! 6.Напрямок відтворення анімації*/
    /* animation-direction: normal; */
    animation-direction: alternate;
}
/*todo Анімація на hero-label при події hero-form:focus-within */
@keyframes pulse-label {
    0% {
        transform: scale(1);
        /* stroke: var(--color-font_active-or-background_hover); */
        stroke-opacity: 0.5;
    }
    50% {
        transform: scale(1.1);
        /* stroke: red; */
        stroke-opacity: 1;
    }
    100% {
        transform: scale(1);
        /* stroke: var(--color-font_active-or-background_hover); */
        stroke-opacity: 0.5;
    }
}

.hero-input {
    /* min-width: 190px; */
    /* min-width: 197px; */
    /* flex-basis: 100%; */
    flex-grow: 1;
    padding: 2px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-left: 1px solid var(--color-input-border);
    background-color: transparent;
    color: var(--color-font-placeholder);
}
.hero-input:focus {
    outline: none;
    border: 1px solid var(--color-font_active-or-background_hover);
    border-radius: 4px;
}
.hero-input:not(:placeholder-shown){
    border-color: var(--color-font-placeholder);
    color: var(--color-font_active-or-background_hover);
}

.form-button {
    width: 130px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    color: var(--color-font-auth);
    background-color: transparent;
    /** анімація */
    transition:
        color,
        300ms
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        0ms;
}

.social-list {
    display: flex;
    gap: 8px;
}

.social-item {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--color-light);
    transition:
        color, fill,
        300ms
        cubic-bezier(0.83, -0.08, 0.32, 1) 
        0ms;
    /* outline: 1px solid yellowgreen; */
}
.social-item:hover {
    fill: var(--color-font_active-or-background_hover);
    background-color: var(--color-background-forms);
}


/*? section tools */
.tools {
    padding-top: 200px;
    /* background-color: rgb(209, 196, 255); */
    background-color: var(--color-background-main);
}

/** загальні стилі */
.section-title {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
    /* color: var(--color-font-main); */
}

.tools .section-title {
    margin-bottom: 25px;
    text-align: center;
}

.tools-main-text {
    width: 427px;
    margin: 0 auto 90px;
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: var(--color-font-second);
}

.tools-list {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 100px;
}

.tools-item {
    /* width: 392px; */
    flex-basis: calc((100% - 48px) / 3);
    height: 294px;
    padding: 33px;
    border-radius: 15px;
    /* outline: 1px dashed yellowgreen; */
}
.tools-item:hover {
    backdrop-filter: blur(50px);
    background-image: url(../images/tools-item-background.svg);
    background-color: var(--color-background-tools-card-hover);
}

.likes-folder-box {
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.likes-folder-list {
    display: flex;
}

.likes-item, 
.folder-item {
    width: 42px;
    /* height: 42px; */
    /* outline: 1px dotted rgb(255, 94, 0); */
}

.likes-item {
    margin-right: 12px;
}

.likes-item-link, 
.folder-item-link {
    display: flex;
    width: 100%;
    height: 100%;
    outline: 1px dotted rgb(170, 255, 0);
}

.likes-item-link {
    background-image: url(../images/tools-likes-item.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.folder-item-link {
    background-image: url(../images/tools-folder-item.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.tools-visit-link {
    width: 106px;
    /* height: 42px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 9px 35px; */
    border-radius: 8px;
    /* font-family: var(--font-family); */
    font-weight: 600;
    /* font-size: 16px; */
    color: var(--color-light);
    background-color: gray;
}






/*? section brands */
.brands {
    padding-top: 200px;
    background-color: rgb(0, 82, 0);
    /* background-color: var(--color-background-main); */
}

/*? section newcomer */
.newcomer {
    padding-top: 200px;
    background-color: rgb(117, 104, 0);
    /* background-color: var(--color-background-main); */
}

/*? section team */
.team {
    padding-top: 200px;
    background-color: rgb(0, 114, 88);
    /* background-color: var(--color-background-main); */
}

/*? section join */
.join {
    padding-top: 250px;
    padding-bottom: 240px;
    border-bottom: 1px solid var(--color-border-sections);
    background-color: rgb(255, 149, 149);
    /* background-color: var(--color-background-main); */
}

/*? footer */
.footer {
    padding-top: 70px;
    padding-bottom: 98px;
    background-color: rgb(99, 99, 99);
    /* background-color: var(--color-background-main); */
}