@charset "UTF-8";
/** Этот файл обнуляет стандартные отступы и отступы отступов,  */
/** устанавливает базовый размер шрифта в 100%,  */
/** убирает стили списков и т. д. */
/*! Reset styles */
/* *,
*::before,
*::after {
    box-sizing: inherit;
    box-sizing: border-box;
} */
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 0.7;
}

button:hover:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes pulse-button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: #26c6ea;
    border: 1px solid #26c6ea;
    background-color: #c33bde;
  }
  100% {
    transform: scale(1);
  }
}
.header .container .lang-list, .header .container .navigation .nav-list, .header .container .navigation, .header .container {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto";
  color: #FFFFFF;
}

.main-container {
  width: 1440px;
  margin: 0 auto;
}

.container {
  min-width: 360px;
  max-width: 1110px;
  margin: 0 auto;
}

.buttons {
  font-size: 24px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #8e32c6;
}
.buttons:hover:not(:disabled) {
  animation-name: pulse-button;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.section-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
}

.header {
  padding-top: 16px;
  padding-bottom: 14px;
  background-color: #012d63;
}
.header .container .navigation {
  margin-right: 73px;
}
.header .container .navigation .header-logo {
  margin-right: 152px;
}
.header .container .navigation .nav-list {
  gap: 29px;
}
.header .container .navigation .nav-list__item:last-child {
  margin-left: -9px;
}
.header .container .navigation .nav-list__item:hover .nav-list__link {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .navigation .nav-list__link {
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  color: #c7c7c7;
  transition: transform, color, 300ms ease-in-out;
}
.header .container .navigation .nav-list__link--active {
  font-weight: 400;
  color: #FFFFFF;
}
.header .container .lang-list {
  gap: 12px;
}
.header .container .lang-list__item:hover .lang-list__link {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .lang-list__link {
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  color: #dcdcdc;
  color: #dcdcdc;
  transition: transform, color, 300ms ease-in-out;
}
.header .container .lang-list__link--active {
  font-weight: 400;
  color: #FFFFFF;
  color: #FFFFFF;
}

.hero {
  padding-top: 94px;
  padding-bottom: 183px;
  height: 858px;
  background-color: #012d63;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 1440px;
}
.hero .hero-logo {
  margin-left: 5px;
  display: block;
  width: 160px;
  height: 120px;
}
.hero__logo-text {
  margin-top: -35px;
  margin-left: 30px;
  width: 178px;
  height: 86px;
  line-height: 1.4;
  font-family: "PT Serif", sans-serif;
  font-size: 48px;
}
.hero__title {
  margin-top: -46px;
  margin-left: -9px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 144px;
  line-height: 1.33;
}
.hero__title-second {
  margin-top: -36px;
  margin-bottom: 12px;
  margin-left: -1px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.337;
}
.hero__text {
  margin-bottom: 41px;
  margin-left: -1px;
  width: 508px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.17;
}
.hero__button-link {
  width: 254px;
  height: 67px;
}

.advantages {
  padding-top: 105px;
  padding-bottom: 105px;
  border-bottom: 2px solid #FFFFFF;
  background-color: #012d63;
  background-image: url(../images/advantages-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 1440px;
}
.advantages .container {
  display: flex;
  outline: 5px solid #8e32c6;
  padding: 25px 50px;
}
.advantages .container .advantages-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.advantages .container .advantages-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 346px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.advantages .container .advantages-list__item .advantages-list__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.42;
  text-align: center;
}
.advantages .container .advantages-list__item:nth-child(2) {
  justify-content: end;
  background-position: center top;
}
.advantages .container .advantages-list .advantages-list__item--premium-quality {
  background-image: url(../images/advantages_premium-quality.png);
}
.advantages .container .advantages-list .advantages-list__item--indelible-paint {
  background-image: url(../images/advantages_indelible-paint.png);
}
.advantages .container .advantages-list .advantages-list__item--fast-shipping {
  background-image: url(../images/advantages_fast-shipping.png);
}
.advantages .container .advantages-list__item:nth-child(1) .advantages-list__title {
  width: 159px;
}
.advantages .container .advantages-list__item:nth-child(2) .advantages-list__title {
  width: 161px;
}
.advantages .container .advantages-list__item:nth-child(3) .advantages-list__title {
  width: 151px;
}
.advantages .container .advantages-list__item:first-child::after, .advantages .container .advantages-list__item:last-child::after {
  content: "";
  width: 2px;
  height: 100%;
  margin-top: -102px;
  margin-right: -340px;
  background-color: #FFFFFF;
}
.advantages .container .advantages-list__item:last-child::after {
  margin-left: -680px;
}

.reviews {
  height: 522px;
  padding-top: 25px;
  padding-bottom: 114px;
  border-bottom: 2px solid #FFFFFF;
  background-color: #012d63;
  background-image: url(../images/reviews-background-image.png), url(../images/reviews-background.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% - 607px) bottom, center 0;
  background-size: auto, 1440px;
}
.reviews .container {
  padding-right: 80px;
  padding-left: 79px;
}
.reviews .container .section-title {
  margin-bottom: 24px;
}
.reviews .container .reviews-list {
  display: flex;
  justify-content: space-between;
}
.reviews .container .reviews-list__item {
  padding: 49px 11px 29px 18px;
  width: 255px;
  border-radius: 15px;
}
.reviews .container .reviews-list__item:nth-child(1) {
  background: linear-gradient(135deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
  box-shadow: 0 14px 0 -5px #7b54b2, 0 30px 0 -13px #533978;
}
.reviews .container .reviews-list__item:nth-child(2) {
  background: linear-gradient(135deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
  box-shadow: 0 14px 0 -5px #9159b1, 0 30px 0 -13px #61337c;
}
.reviews .container .reviews-list__item:nth-child(3) {
  background: linear-gradient(135deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
  box-shadow: 0 14px 0 -5px #b95a4c, 0 30px 0 -13px #732f26;
}
.reviews .container .reviews-list__review {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1.17;
}
.reviews .container .reviews-list__date {
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 1.14;
  color: #d8d8d8;
}
.reviews .container .reviews-list__reviewer-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.reviews .container .reviews-list__reviewer-img {
  border-radius: 50%;
}
.reviews .container .reviews-list__reviewer-name {
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 1.14;
}
.reviews .container .reviews-list__reviewer-term {
  font-size: 12px;
  color: #d8d8d8;
}

.order {
  padding-top: 20px;
  padding-bottom: 37px;
  background-color: #012d63;
  background-image: url(../images/order-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 1440px;
}
.order .section-title {
  margin-bottom: 33px;
}
.order .order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}
.order .order-form__input-email-box {
  position: relative;
  display: flex;
  align-items: center;
}
.order .order-form__input {
  padding-left: 24px;
  width: 580px;
  height: 50px;
  font-size: 28px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #FFFFFF;
}
.order .order-form__input::placeholder {
  font-size: 28px;
  color: #959595;
}
.order .order-form__input.order-form__input--email {
  padding-left: 25px;
  width: 690px;
  height: 60px;
}
.order .order-form__input.order-form__input--email:focus {
  border: 2px solid #26c6ea;
  background-color: #c33bde;
}
.order .order-form__input.order-form__input--email:valid {
  border: 2px solid green;
  background-color: #aeffbf;
}
.order .order-form__input.order-form__input--email:valid + .order-form__button-confirm {
  color: green;
  font-weight: 700;
}
.order .order-form__input[type=text]:not(:placeholder-shown) {
  border: 2px solid green;
  background-color: #aeffbf;
}
.order .order-form__button-confirm {
  position: absolute;
  right: 78px;
  font-size: 28px;
  border: none;
  color: #d8d8d8;
  background: transparent;
}
.order .order-form__button-confirm:disabled {
  cursor: not-allowed;
}
.order .order-form__button-submit {
  width: 248px;
  height: 68px;
}

.footer {
  padding-top: 45px;
  padding-bottom: 38px;
  border-bottom: 24px solid #FFFFFF;
  background-color: #021635;
}
.footer .footer-list {
  margin-bottom: 22px;
}
.footer .footer-list__item {
  display: flex;
  justify-content: space-between;
}
.footer .footer-list__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer .footer-list__question {
  font-size: 24px;
  line-height: 1.17;
}
.footer .footer-list__link {
  font-size: 24px;
  line-height: 1.17;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  transition: transform, color, 300ms ease-in-out;
}
.footer .footer-list__link:hover {
  color: #c33bde;
  transform: scale(1.05);
}
.footer .footer-list::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background-color: #9b9b9b;
}
.footer__all-box {
  display: flex;
  justify-content: space-between;
}
.footer__trademark {
  margin-bottom: 7px;
}
.footer__trademark, .footer__name-country {
  font-size: 18px;
  left: 1.67;
}
.footer__logo-box {
  margin-top: -25px;
}
.footer .footer-logo {
  display: flex;
}
.footer__logo-text {
  margin-top: -19px;
  margin-left: 26px;
  font-family: "PT Serif", sans-serif;
  font-size: 24px;
  line-height: 1;
}/*# sourceMappingURL=main.css.map */