@charset "UTF-8";
/** Этот файл обнуляет стандартные отступы и отступы отступов,  */
/** устанавливает базовый размер шрифта в 100%,  */
/** убирает стили списков и т. д. */
/*! Reset styles */
/* *,
*::before,
*::after {
    box-sizing: inherit;
    box-sizing: border-box;
} */
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

/*? =============== CSS-змінні ====================== */
/** ================= colors ================== */
/** ================= fonts =================== */
/*! GENERAL */
body {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

/* =====================  ОСНОВНІ Контейнери  ===================== */
.main-container {
  width: 1440px;
  margin: 0 auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
  outline: 1px dashed tomato;
}

/* =================== flex - контейнеры (________)==================== */
.hero__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #8e32c6;
}
.hero__button-link:hover {
  animation-name: pulse-button;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse-button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: #26c6ea;
    border: 1px solid #26c6ea;
    background-color: #c33bde;
  }
  100% {
    transform: scale(1);
  }
}
.header {
  padding-top: 16px;
  padding-bottom: 14px;
  background-color: #012d63;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .container .navigation,
.header .container .nav-list,
.header .container .lang-list {
  display: flex;
  align-items: center;
}
.header .container .navigation {
  margin-right: 73px;
}
.header .container .header-logo {
  margin-right: 152px;
}
.header .container .nav-list {
  gap: 29px;
}
.header .container .nav-list__item:last-child {
  margin-left: -9px;
}
.header .container .nav-list__item:hover .nav-list__link {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .nav-list__link {
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  color: #c7c7c7;
  /** анімація */
  transition: transform, color, 300ms ease-in-out;
}
.header .container .nav-list__link--active {
  font-weight: 400;
  color: #FFFFFF;
}
.header .container .lang-list {
  gap: 12px;
}
.header .container .lang-list__item:hover .lang-list__link {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .lang-list__link {
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  color: #dcdcdc;
  /** анімація */
  transition: transform, color, 300ms ease-in-out;
}
.header .container .lang-list__link--active {
  font-weight: 400;
  color: #FFFFFF;
}

.hero {
  padding-top: 94px;
  padding-bottom: 183px;
  /* height: 858px; */
  background-color: #012d63;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 1440px;
}
.hero .hero-logo {
  margin-left: 5px;
  display: block;
  width: 160px;
  height: 120px;
}
.hero__logo-text {
  margin-top: -35px;
  margin-left: 30px;
  width: 178px;
  height: 86px;
  line-height: 1.4;
  font-family: "PT Serif", sans-serif;
  font-size: 48px;
}
.hero__title {
  margin-top: -46px;
  margin-left: -9px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 144px;
  line-height: 1.33;
}
.hero__title-second {
  margin-top: -36px;
  margin-bottom: 12px;
  margin-left: -1px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.337;
}
.hero__text {
  margin-bottom: 41px;
  margin-left: -1px;
  width: 508px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  /* outline: 1px dashed #f5b3b3; */
}
.hero__button-link {
  width: 254px;
  height: 67px;
}

.advantages {
  padding-top: 105px;
  padding-bottom: 105px;
  border-bottom: 1px solid #FFFFFF;
  background-color: #012d63;
  background-image: url(../images/advantages-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 1440px;
}
.advantages .container {
  display: flex;
  outline: 5px solid #8e32c6;
  padding: 25px 50px;
}
.advantages .container .advantages-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.advantages .container .advantages-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 346px;
  background-image: url(../images/advantages_premium-quality.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.advantages .container .advantages-list__item .advantages-list__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.42;
  text-align: center;
}
.advantages .container .advantages-list__item:nth-child(1) {
  background-image: url(../images/advantages_premium-quality.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.advantages .container .advantages-list__item:nth-child(2) {
  justify-content: end;
  background-image: url(../images/advantages_indelible-paint.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.advantages .container .advantages-list__item:nth-child(3) {
  background-image: url(../images/advantages_fast-shipping.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.advantages .container .advantages-list__item:nth-child(1) .advantages-list__title {
  width: 159px;
}
.advantages .container .advantages-list__item:nth-child(2) .advantages-list__title {
  width: 161px;
}
.advantages .container .advantages-list__item:nth-child(3) .advantages-list__title {
  width: 151px;
}
.advantages .container .advantages-list__item:first-child::after, .advantages .container .advantages-list__item:last-child::after {
  content: "";
  width: 2px;
  height: 100%;
  margin-top: -102px;
  margin-right: -292px;
  background-color: #FFFFFF;
}
.advantages .container .advantages-list__item:last-child::after {
  margin-left: -584px;
}/*# sourceMappingURL=main.css.map */