:root {
    /*? =============== CSS-змінні ====================== */
    /** ================= colors ================== */
    /* --color-light: #FFFFFF; */
    --color-font-main: #c7c7c7;
    --color-font-second: #dcdcdc;
    --color-font-third: #d8d8d8;
    --color-placeholder: #959595;
    --color-background-brand: #012d63;
    --color-brand-hover : #c33bde;
    --color-buttons-background: #8e32c6;
    --color-buttons-hover: #26c6ea;
    --color-background-footer: #021635;
    --color-border: #9b9b9b;
    /** ================= fonts =================== */
    --font-family: "Roboto", sans-serif;
    --second-family: "Playfair Display", sans-serif;
    --third-family: "PT Serif", sans-serif;
}


/*! =========== GENERAL - компоненти =========== */
body {
    font-family: var(--font-family);
    color: var(--color-light);
}

/** +++++ Контейнери +++++ */
.main-container {
    width: 1440px;
    margin: 0 auto;
    /* outline: 1px dashed #0ceb17; */
}

.container {
    width: 1110px;
    margin: 0 auto;
    outline: 1px dashed tomato;
}

/** +++++ Загальні стилі для кнопок +++++ */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
    /* font-weight: 400; */
    font-size: 24px;
    border: none;
    border-radius: 10px;
    color: var(--color-light);
    background-color: var(--color-buttons-background);
    /** var.1 анімація */
    /* transition:
        color, border, background-color,
        300ms
        ease-in-out;  */
}
.buttons:hover:not(:disabled) {
    /** var.1 Зміна кольорів на кнопці при події hover */
    /* color: var(--color-buttons-hover);
    border: 1px solid var(--color-buttons-hover);
    background-color: var(--color-brand-hover); */
    /*todo var.2 Анімація на кнопці при події hover */
    /*! 1.Назва анімації */
    animation-name: pulse-button;
    /*! 2.Тривалість анімації */   
    animation-duration: 2s;
    /*! 3.Функція розподілу часу */
    animation-timing-function: ease-in-out;
    /*! 5.Кількість повних повторень анімації - постійно */
    animation-iteration-count: infinite;
    /*! 6.Напрямок відтворення анімації*/
    animation-direction: normal;
    animation-direction: alternate;
}
/** +++++ Анімація для кнопок +++++ */
/*todo var.2 Анімація на кнопці при події hover */
@keyframes pulse-button {
    0% {
        transform: scale(1);
        /* color: var(--color-buttons-hover); */
        /* border: 1px solid var(--color-buttons-hover); */
        /* background-color: var(--color-brand-hover); */
    }
    50% {
        transform: scale(1.05);
        color: var(--color-buttons-hover);
        border: 1px solid var(--color-buttons-hover);
        background-color: var(--color-brand-hover);
    }
    100% {
        transform: scale(1);
        /* transform: scale(0.9); */
        /* color: var(--color-buttons-hover); */
        /* border: 1px solid var(--color-buttons-hover); */
        /* background-color: var(--color-brand-hover); */
    }
}

/** +++++ Загальні стилі для Заголовків Секцій +++++ */
.section-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.35;
    text-align: center;
    /* color: var(--color-light); */
}

/*! ___________ GENERAL - компоненти ___________ */


/*? header */
.header {
    padding-top: 16px;
    padding-bottom: 14px;
    background-color: var(--color-background-brand);
}

/** --- Додаткові flex-властивості до container ---- */
.flex,
.navigation,
.nav-list,
.lang-list {
    display: flex;
    align-items: center;
}
/** _________________________________________________ */

.navigation {
    margin-right: 73px;
}

.header-logo {
    /* width: 100px; */
    /* height: 60px; */
    margin-right: 152px;
    /* outline: 1px dotted yellowgreen; */
}
/*! Інші властивості для сторінки index-ua.html */
.header-logo--ua {
    margin-right: 116px;
}

.nav-list {
    gap: 29px;
}

.nav-list__item:last-child {
    margin-left: -9px;
}

.nav-list__link {
    display: flex;
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 24px;
    line-height: 1.25;
    color: var(--color-font-main);
    /** анімація */
    transition: 
        transform, color, 
        300ms 
        ease-in-out;
    /* outline: 2px dashed green; */
}
.nav-list__item:hover .nav-list__link {
    color: var(--color-brand-hover);
    transform: scale(1.1);
}

/** блок кнопок-перемикачів мови */
.lang-list {
    gap: 12px;
}

.lang-list__link {
    display: flex;
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 24px;
    line-height: 1.25;
    color: var(--color-font-second);
    /* transform: scale(1.3); */
    /** анімація */
    transition: 
        transform, color,
        300ms 
        ease-in-out;
    /* outline: 2px dashed red; */
}
.lang-list__item:hover .lang-list__link {
    color: var(--color-brand-hover);
    transform: scale(1.1);
}

.nav-list__link--active,
.lang-list__link--active {
    font-weight: 400;
    color: var(--color-light);
}


/*? main */
/*? section hero */
.hero {
    /* height: 858px; */
    padding-top: 94px;
    padding-bottom: 183px;
    background-color: var(--color-background-brand);
    background-image:url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1440px;
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** ________________________________________________ */

.hero-logo{
    margin-left: 5px;
    display: block;
    width: 160px;
    height: 120px;
    /* outline: 1px dotted yellow; */
}

.hero__logo-text {
    margin-top: -35px;
    margin-left: 30px;
    width: 178px;
    height: 86px;
    line-height: 1.4;
    font-family: var(--third-family);
    /* font-weight: 400; */
    font-size: 48px;
    /* color: var(--color-light); */
    /* outline: 1px solid red; */
}

.hero__title {
    margin-top: -46px;
    margin-left: -9px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 144px;
    line-height: 1.33;
    /* color: var(--color-light); */
    /* outline: 1px dashed wheat; */
}

.hero__title-second {
    margin-top: -36px;
    margin-bottom: 12px;
    margin-left: -1px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 72px;
    line-height: 1.337;
    /* color: var(--color-light); */
    /* outline: 1px dashed #b3f5b3; */
}

.hero__text {
    margin-bottom: 41px;
    margin-left: -1px;
    width: 508px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    /* color: var(--color-light); */
    /* outline: 1px dashed #f5b3b3; */
}
/*! Інші властивості для сторінки index-ua.html */
.hero__text--ua {
    width: 612px;
}

.hero__button-link {
    width: 254px;
    height: 67px;
    /* padding: 20px 61px 19px; */
}


/*? section advantages */
.advantages {
    /* height: 606px; */
    padding-top: 105px;
    padding-bottom: 105px;
    border-bottom: 2px solid var(--color-light);
    background-color: var(--color-background-brand);
    background-image:url(../images/advantages-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1440px;
}

/** --- Додаткові flex-властивості до container ---- */
.advantages .container {
    display: flex;
    outline: 5px solid var(--color-buttons-background);
    padding: 25px 50px;
}
/** ________________________________________________ */

.advantages-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* outline: 1px dashed yellow; */
}

.advantages-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 346px;
    background-image: 
        url(../images/advantages_premium-quality.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    /* outline: 1px dashed #00ffcc; */
}
.advantages-list__item:nth-child(1) {
    background-image: 
        url(../images/advantages_premium-quality.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.advantages-list__item:nth-child(2) {
    justify-content: end;
    background-image: 
        url(../images/advantages_indelible-paint.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.advantages-list__item:nth-child(3) {
    background-image: 
        url(../images/advantages_fast-shipping.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.advantages-list__title {
    /* height: 102px; */
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.42;
    text-align: center;
    /* color: var(--color-light); */
    /* outline: 1px dotted red; */
}
.advantages-list__item:nth-child(1) .advantages-list__title{
    width: 159px;
}
.advantages-list__item:nth-child(2) .advantages-list__title{
    width: 161px;
}
.advantages-list__item:nth-child(3) .advantages-list__title{
    width: 151px;
}

.advantages-list__item:first-child::after,
.advantages-list__item:last-child::after {
    content: "";
    width: 2px;
    height: 100%;
    margin-top: -102px;
    margin-right: -340px;
    background-color: var(--color-light);
}
.advantages-list__item:last-child::after {
    margin-left: -680px;
}


/*? section reviews */
.reviews {
    /* height: 522px; */
    padding-top: 25px;
    padding-bottom: 114px;
    border-bottom: 2px solid var(--color-light);
    background-color: var(--color-background-brand);
    background-image:
        url(../images/reviews-background-image.png),
        url(../images/reviews-background.jpg);
    background-repeat: no-repeat;
    background-position: 
        calc(50% - 607px) bottom,
        center 0;
    background-size: 
        auto, 
        1440px;
}

/** --- Додаткові flex-властивості до container ---- */
.reviews .container {
    padding-right: 80px;
    padding-left: 79px;
}   
/** ________________________________________________ */

.reviews .section-title {
    margin-bottom: 24px;
}

.reviews-list {
    display: flex;
    justify-content: space-between;
    /* outline: 1px dotted red; */
}

.reviews-list__item {
    padding: 49px 11px 29px 18px;
    width: 255px;
    /* height: 292px; */
    border-radius: 15px;
    /* outline: 1px dashed yellow; */
}
.reviews-list__item:nth-child(1) {
    background: 
    linear-gradient(
        135deg, 
        #00e5e6 7.29%, 
        #00a8f7 26.04%, 
        #9a76f9 62.5%, 
        #cc5ec2 100%
    );
    box-shadow:
        0 14px 0 -5px #7b54b2,
        0 30px 0 -13px #533978;
}
.reviews-list__item:nth-child(2) {
    background: 
    linear-gradient(
        135deg, 
        #ff68b4 0%, 
        #ff45e1 26.04%, 
        #ce3aff 62.84%, 
        #8961ff 100%
    );
    box-shadow:
    0 14px 0 -5px #9159b1,
    0 30px 0 -13px #61337c;
}
.reviews-list__item:nth-child(3) {
    background: 
    linear-gradient(
        135deg, 
        #ffe128 0%, 
        #ff9b5c 30.21%, 
        #ff8381 63.29%, 
        #ff5489 100%
    );
    box-shadow:
    0 14px 0 -5px #b95a4c,
    0 30px 0 -13px #732f26;
}

.reviews-list__review {
    margin-bottom: 8px;
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 24px;
    line-height: 1.17;
    /* color: var(--color-light); */
}
/*! Інші властивості для сторінки index-ua.html */
.reviews-list__review--ua {
    font-size: 19px;
    line-height: 1.175;
}

.reviews-list__date {
    margin-bottom: 47px;
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.14;
    color: var(--color-font-third);
}
/*! Інші властивості для сторінки index-ua.html */
.reviews-list__date--ua {
    margin-bottom: 70px;
}

.reviews-list__reviewer-box {
    display: flex;
    align-items: center;
    gap: 5px;
    /* outline: 1px solid black; */
}

.reviews-list__reviewer-img {
    border-radius: 50%;
}

.reviews-list__reviewer-name {
    margin-bottom: 1px;
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.14;
    /* color: var(--color-light); */
}

.reviews-list__reviewer-term {
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 12px;
    color: var(--color-font-third);
}


/*? section order */
.order {
    /* height: 509px; */
    padding-top: 20px;
    padding-bottom: 37px;
    background-color: var(--color-background-brand);
    background-image:url(../images/order-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1440px;
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** ________________________________________________ */

.order .section-title {
    margin-bottom: 33px;
}

.order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.order-form__input-email-box {
    position: relative;
    display: flex;
    align-items: center;
}

.order-form__input {
    padding-left: 24px;
    width: 580px;
    height: 50px;
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 28px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: var(--color-light);
}
.order-form__input::placeholder {
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 28px;
    color: var(--color-placeholder);
}

.order-form__input.order-form__input--email {
    padding-left: 25px;
    width: 690px;
    height: 60px;
}
/* .order-form__input.order-form__input--email:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: rgb(174, 255, 191) !important; 
    color: inherit;
} */
.order-form__input.order-form__input--email:focus {
    border: 2px solid var(--color-buttons-hover);
    background-color: var(--color-brand-hover);
}
.order-form__input.order-form__input--email:valid {
    border: 2px solid green;
    background-color: #aeffbf;
}
.order-form__input.order-form__input--email:valid + .order-form__button-confirm {
    color: green;
    font-weight: 700;
}

.order-form__input[type="text"]:not(:placeholder-shown) {
    border: 2px solid green;
    background-color: #aeffbf;
    /* background-color: #d6ffdf; */ /*! для JS */
}

.order-form__button-confirm {
    position: absolute;
    right: 78px;
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 28px;
    border: none;
    color: var(--color-font-third);
    background: transparent;
}
.order-form__button-confirm:disabled {
    /* background-color: lightgray; */
    cursor: not-allowed;
}

.order-form__button-submit {
    width: 248px;
    height: 68px;
    /* padding: 20px 49px 20px 48px; */
}


/*? footer */
.footer {
    /* height: 316px; */
    padding-top: 45px;
    padding-bottom: 38px;
    /* border-bottom: 24px solid var(--color-light); */
    border-bottom: 24px solid white;
    background-color: var(--color-background-footer);
}

/** --- Додаткові flex-властивості до container ---- */
/*! Відсутні */
/** ________________________________________________ */

.footer-list {
    margin-bottom: 22px;
    /* outline: 1px dashed yellow; */
}

.footer-list__item {
    display: flex;
    justify-content: space-between;
}
.footer-list__item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-list__question {
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 24px;
    line-height: 1.17;
    /* color: var(--color-light); */
}

.footer-list__link {
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 24px;
    line-height: 1.17;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-light);
    /** анімація */
    transition: 
        transform, color, 
        300ms 
        ease-in-out;
}
.footer-list__link:hover {
    color: var(--color-brand-hover);
    transform: scale(1.05);
}

.footer-list::after {
    content: "";
    display: block;
    width: 100%;
    height:  2px;
    margin-top: 20px;
    background-color: var(--color-border);
}

.footer__all-box {
    display: flex;
    justify-content: space-between;
}

.footer__trademark{
    margin-bottom: 7px;
}

.footer__trademark,
.footer__name-country {
    /* font-family: var(--font-family); */
    /* font-weight: 400; */
    font-size: 18px;
    left: 1.67;
    /* color: var(--color-light); */
}

.footer__logo-box {
    margin-top: -25px;
}

.footer-logo {
    display: flex;
    /* outline: 1px solid green; */
}

.footer__logo-text {
    margin-top: -19px;
    margin-left: 26px;
    font-family: var(--third-family);
    /* font-weight: 400; */
    font-size: 24px;
    line-height: 1.0;
    /* color: var(--color-light); */
    /* outline: 1px solid blue; */
}