:root {
    /** ============ CSS-змінні ============ */
    --color-font-body: #220c0c;
    --color-background-body: #fdffe8;
    --color-title-lesson: #007a99;
    --color-title-section: red;
    --color-title-subsection: blue;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.2rem;
    /* padding: 20px 20px 150px; */
    padding: 20px 0px 150px;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    color: var(--color-font-body);
    background-color: var(--color-background-body);
}

.title-lesson {
    text-align: center;
    color: var(--color-title-lesson);
    text-shadow: 4px 2px 6px #43300088;
    /* ! for position: fixed */
    margin-bottom: 20px;
}

.title-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-title-section);
    text-shadow: 4px 2px 6px #a17301bd;
}

.title-subsection {
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--color-title-subsection);
    text-shadow: 4px 2px 6px #0114a1bd;
}

.information-hint {
    font-family: Helvetica;
    font-style: italic;
    margin-bottom: 50px;
    font-size: 1.2rem;
    text-align: center;
    color: darkred;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 20px;
    /* min-height: 100vh; */
    /* width: 100vw; */
    /* outline: 1px solid red; */
}

/* *======================================= */
/*? Загальні властивості кнопок */
button {
    padding: 5px 10px;
    font-family: monospace;
    font-weight: 700;
    border-radius: 5px;
    border-color: gray;
    color: white;
    /* color: yellow; */ /* On */
    background-color: red; /* #b70000 */
    /* background-color: green; */ /* On */
    box-shadow: 6px 6px 8px #636363;
    /* box-shadow: 3px 3px 4px #969696; */ /* On */
}
/*! --------------------------------------------- */


h3 {
    font-size: 1em;
}

.list,
.menu,
.menu2,
.image,
.button-box,
.box {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #dfffdf;
}

.box {
    text-align: center;
}

.box button {
    color: #ad00e2;
    background-color: #fffac4;
}

button.accent {
    color: green;
}


/*? 2.Відкладене завантаженняї (Chatty events) */
.blur-up {
    width: 100%;
    filter: blur(10px);
    transition: filter 400ms;
}

.blur-up.lazyloaded {
    filter: blur(0);
}

/*? 3.Відкладене завантаження (з концепцією Intersection Observer) */
.box-target {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: red;
    margin: 50vh 0; /*! для того, щоб був скрол */
    background: lightblue;
    outline: 1px solid red;
}

/*! ПРИХОВАТИ для демонстрації відстеження "box-target" у вікні [scrollContainer] */
#box-rootMargin {
    position: fixed;
    width: 100vw;
    /*todo: Для зменшення знизу зони на 50% висоти в'юпорту */
    height: 50vh;
    /* height: 100vh; */
    top: 0;
    left: 0;
    border: 3px solid blue;
    background-color: #63636336;
}

/*! ВІДКРИТИ (і в JS) для демонстрації відстеження "box-target" у вікні [scrollContainer] */
/* #scrollContainer {
    outline: 1px solid green;
    width: 50vw;
    height: 50vh;
    overflow-y: scroll;
} */

/*? 4.Додаткові кнопки button-41 та button-51 */
.button-41,
.button-51 {
    margin-bottom: 10px;
}

.button-5 {
    margin-top: 100px;
}

.text-observer {
    padding: 5px 10px;
    text-align: left;
}

/*? 5.Приклад-2.Анімація елементів при появі */
section {
    height: 100vh;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.6s ease-out;
    outline: 1px solid red;
}

section:nth-child(odd) {
    background-color: #fdfbba;
}

section:nth-child(even) {
    background-color: #c0e0ff;
}

section.in-view {
    opacity: 1;
    transform: translateY(0);
}




/* ! */
/* .part_1 {
    display: none;
} */
/*! 1.Підключення скриптів */


/* .part_2 {
    display: none;
} */
/*! 2.Підключення декількох скриптів */


/* .part_3 {
    display: none;
} */
/*! 3.Виведення даних в консоль розробника. */
/*! Оголошення змінних */


/* .part_4 {
    display: none;
} */
/*! 4.Tипи даних. Спеціальні значення. Оператор typeof */


/* .part_5 {
    display: none;
} */
/*! 5.Взаємодія з користувачем. Отримання даних */





/*? ______________________________________________________ */
/* ! */
.part_0 {
    display: none;
}
/*! 0.Заголовок */