:root {
    /* *============ CSS-змінні ============ */
    --color-font-main: rgb(33, 33, 33);
    --color-font-head: rgb(117, 117, 117);
    --color-font-placeholder-modal: rgba(117, 117, 117, 0.5);
    --color-font-footer: rgba(255, 255, 255, 0.6);
    /* *=============================== */
    --color-background-another: #E5E5E5;
    --color-background-team: #F5F4FA;
    --color-background-footer: #2F303A;
    --color-background-footer-icon: rgba(255, 255, 255, 0.1);
    --color-background-backdrop: rgba(0, 0, 0, 0.2);
    --color-background-activity: rgba(47, 48, 58, 0.8);
    --color-background-overlay: rgba(33, 150, 243, 0.9);
    /* *=============================== */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    /* *=============================== */
    --color-border-line: #ECECEC;
    --color-borders-portfolio: #EEEEEE;
    --color-border-clients: #AFB1B8;
    --color-border-modal: rgba(33, 33, 33, 0.2);
    /* *=============================== */
    --color-logo-links-hover: #2196F3;
    --color-button-hover: #188CE8;
    /* *========================================== */
}

