/**  +++++++++++++ Селектори тегів (элементів) +++++++++++++ */
/* ! === Універсальний селектор === */
/* * {
    font-style: italic;
    color: blue;
    background-color: aqua;
} */

/* 
! === Теговый селектор 
! (селектор элементу) === 
*/
/* p {
    font-size: 24px;
    font-style: italic;
    color: red;
} */

/*
!    Селектор 
! ідентифікатора  
 */
/* #title-2 {
    color: green;
    text-decoration: underline;
} */

/* !  Селектор груп */
/* h1,
h2,
h3 {
    color: orangered;
    background-color: yellow;
} */

/* ! Селектор нащадку  */
/* body li {
    background-color: pink;
} */

/*  
! Дочірний селектор
! (Селектор дитини)
*/
/* li > p {
    font-size: 24px;
    color: yellow;
    background-color: blue;
} */

/*
! Сусідній селектор
! (Селектор сусіда) 
 */
/* p + a {
    font-size: 24px;
    background-color: gold;
} */

/* 
! Споріднений селектор 
! (родственный)  
*/
/* p ~ a {
    font-size: 24px;
    background-color: orange;
} */

/*! Селектор атрибуту */
/* a[href="./"] {
    font-size: 24px;
    background-color: yellow;
} */


/* * +++++++++++++ Селектори класу +++++++++++++ */
/* ! === Селектор класу === */
/* .text {
    font-size: 40px;
    background-color: rgb(253, 106, 101);
    color: rgb(255, 255, 0);
} */

/* ! === Селектор класу === */
/* .basic-style {
    background-color: gray;
    color: rgb(43, 255, 0);
} */


/* * ++++++++++ Формати використання кольорів ++++++++++ */
/*! Змінити на body */
.body {
    /*? 1.Іменовані кольори */
    color: Crimson;
    
    /*? 2.RGB-формат */
    /*? червоного = 220, зеленого = 20, синього = 60 */
    color: rgb(220, 20, 60);

    /*? 3.RGBA-- формат з прозорістю */
    /*? червоного = 220, зеленого = 20, синього = 60, прозорість = 50% */
    color: rgb(220, 20, 60, 0.5);
    
    /*? 4.Hexadecimal​ формат (HEX-формат) */
    color: #dc143c;
    
    /*? 5.Hexadecimal​ формат (HEX-формат) з прозорістю = 50% */
        color: #dc143c80;
}


/* * ++++++++++ CSS-змінні ++++++++++ */
/*! Підключити style_css-variables.css у lesson-7_test.html */
