img {
    display: block;
    /* max-width: 100%; */
    height: auto;
}

.pano_2014-12-14 {
    display: block;
    height: auto;
}

.box {
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
    width: 600px;
    /* height: 311px; */
    border: 2px solid #696969;
    border-radius: 8px;
    /* box-shadow: 12px 12px 18px rgba(59, 43, 14, 0.23); */
    box-shadow: 12px 12px 18px rgba(27, 27, 26, 0.47);
    /* outline: 2px solid tomato; */
}

/* ! for test */
.box_hidden-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    /* * for work */
    /* height: 311px;
    background-color: white; */
    /* todo for test */
    height: 307px;
    background-color: #8cb53f;
    border: #3f51b5 2px solid;
}

/* ! for test */
.box_hidden-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
    /* * for work */
    /* height: 311px;
    background-color: white; */
    /* todo for test */
    height: 307px;
    background-color: #8cb53f;
    border: #3f51b5 2px solid;
}

.box_image {
    animation-name: move;
    /* animation-direction: alternate-reverse; */
    animation-direction: alternate;
    animation-duration: 55s;
    animation-timing-function: linear;
    animation-delay: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        transform: translatex(0);
    }
    100% {
        transform: translatex(1319px);
        /* transform: translatex(calc(100vw - 166px)); */
    }
}


/* ?================================================================= */
/* ? Стилізация, яка використалась як ВБУДОВАНА с 1-го по 6-ий уроки */

/* ?Кнопка-стрелка (общие стили) */
.arrow-button {
    position: fixed;
    right: 30px;
    /* bottom: 30px; */
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("https://img.icons8.com/officel/80/circled-up-2.png");
    background-size: contain;
    cursor: pointer;
}

/* ? Кнопка-стрелка "наверх" */
.up-button {
    /* position: fixed;
    right: 30px; */
    bottom: 30px;
    /* display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("https://img.icons8.com/officel/80/circled-up-2.png");
    background-size: contain;
    cursor: pointer; */
}

/* ? Кнопка-стрелка "вниз" */
.down-button {
    /* position: fixed;
    right: 30px; */
    top: 30px;
    /* display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("https://img.icons8.com/officel/80/circled-up-2.png");
    background-size: contain;
    cursor: pointer; */
}

/* ? Поворот Кнопки-стрелка на 180 градусов */
.rotate180 {
    transform: rotate(180deg);
}

/* ? Поворот текстового элемента на 180 градусов */
.rotated-text {
    display: inline-block;
    transform: rotate(180deg);
    }

/* ? -- Стилізуємо body -- */
body {
    padding-top: 8px;
}

body,
header,
main,
section,
footer {
    display: flex;
    flex-direction: column;
    /* Вертикальная основная ось */
    /* Центрирование элементов по вертикали: */
    /* justify-content: center;  */
    align-items: center;
    /* Центрирование элементов по горизонтали */
    /* Добавляем ШИРИНУ на весь экран (viewport height) */
    /* Так будет горизонтальная полоса прокрутки: */
    /* width: 100vw; */
    /* Так НЕ будет горизонтальной полосы прокрутки: */
    width: 100%;
    /* Добавляем ВЫСОТУ на весь экран (viewport height) */
    /* height: 100vh;  */
    margin: 0px;
    /* Убираем внешние отступы */
    /* padding-left: 10px; */
}

/* ? Стилізуємо nav */
nav {
    text-align: center;
    color: brown;
    font-size: 18px;
    /* outline: 1px solid red */
}

/* ? Убираем стандартные отступы и маркеры для упорядоченных списков */
ul,
ol {
    /* margin: 0; */
    /* padding: 0; */
    /* list-style: none; */
    /* text-align: center; */
    color: rebeccapurple;
    font-size: 18px
}

li {
    margin-bottom: 8px;
}

/* ? Убираем подчеркивание и стандартные стили для ссылок */
a {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    /* Убираем подчеркивание */
    color: inherit;
    /* Используем цвет текста родительского элемента (наследование цвета) */
    cursor: pointer;
    /* Делаем курсор указателем для обозначения, что это кликабельный элемент */

}

/* ? Добавляем стили для ссылки при наведении */
a:hover {
    text-decoration: underline;
    /* Добавляем подчеркивание при наведении */
    color: olive;
    /* Меняем цвет текста при наведении */
}

/* ? Додаем стили для таблиц */
table {
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #2a2a2a;
}

table td:first-child {
    text-align: center;
    color: red;
    font-size: larger;
}
/* ?================================================================= */