/* * === +++++++++++++++++++++++++ === */
/* ! === Універсальний селектор === */
/* * {
    font-style: italic;
    color: blue;
} */

/* 
! === Теговый селектор 
! (селектор элементу) === 
*/
/* p {
    font-size: 24px;
    font-style: italic;
    color: red;
} */

/*
!    Селектор 
! ідентифікатора  
 */
/* #title-2 {
    color: green;
    text-decoration: underline;
} */

/* !  Селектор груп */
/* h1,
h2,
h3 {
    color: orangered;
    background-color: yellow;
} */

/* ! Селектор нащадку  */
/* body li {
    background-color: pink;
} */

/*  
! Дочірний селектор
! (Селектор дитини)
*/
/* li > p {
    font-size: 24px;
    color: yellow;
    background-color: blue;
} */

/*
! Сусідній селектор
! (Селектор сусіда) 
 */
/* p + a {
    font-size: 24px;
    background-color: gold;
} */

/* 
! Споріднений селектор 
! (родственный)  
*/
/* p ~ a {
    font-size: 24px;
    background-color: orange;
} */

/*! Селектор атрибуту */
/* a[href="./"] {
    font-size: 24px;
    background-color: yellow;
} */


/* * === +++++++++++++++++++++++++ === */
/* ! === Селектор класу === */
/* .text {
    font-size: 40px;
    background-color: rgb(23, 125, 214);
} */

/* ! === Селектор класу === */
/* .basic-style {
    background-color: gray;
    color: blue;
} */