img {
    display: block;
    /* max-width: 100%; */
    height: auto;
}

.pano_img_3691-3720 {
    display: block;
    height: 600px;
}

.box {
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
    /* justify-content: flex-start; */


    width: 1060px;
    /* height: 311px; */
    border: 2px solid #696969;
    border-radius: 8px;
    box-shadow: 12px 12px 18px rgba(27, 27, 26, 0.47);
    /* outline: 2px solid tomato; */
}

.box_image {
    animation-name: move;
    animation-direction: alternate;
    /* animation-direction: alternate-reverse; */
    /* animation-direction: reverse; */
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-delay: 1500ms;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        transform: translatex(0);
    }
    100% {
        transform: translatex(4175px);
    }
}