/* ! === Селектор класу === */
.basic-style {
    background-color: gray;
    color: blue;
}






























/* ! === Селектор тегу === */
/* body {
    background-color: gray;
    color: blue;
} */




































/* ! === Селектор ідентифікатора === */
/* Селектор ідентифікатора */
/* #title-2 {
    color: green;
} */


/* ! === Селектор груп === */
/* h1,
h2,
h3 {
    color: blue;
} */


/* ! === Селектор нащадку === */
/* body li {
    background-color: burlywood;
} */


/* ! === Дочірний селектор (Селектор дитини) === */
/* li > p {
    color: rgb(255, 0, 0);
    background-color: burlywood;
} */


/* ! === Сусідній селектор (Селектор сусіда) === */
/* Сусідній селектор */
/* p + a {
    background-color: rgb(0, 234, 4);
} */


/* ! === Споріднений селектор === */
/* p ~ a {
    background-color: rgb(86, 176, 255);
} */


/* ! === Селектор атрибуту === */
/* a[href="#"] {
    background-color: yellow
} */


/* ! === Селектор класу === */
/* .text {
    font-size: 40px;
    background-color: rgb(23, 125, 214);
} */
