:root {
    /* *============ ПЕРЕМЕННЫЕ ЦВЕТА body ============ */
    --color-font-body: #ff0000;
    --color-background-body: #00ffff;
    /* *============================================== */
}
/* ! content-box — дефолтне значення, 
    !   властивості width і height 
    !   задають ширину і висоту 
    !   області вмісту і не включають 
    !   розміри полів (padding), 
    !   меж (border) і відступів (margin). 
*/

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* ?============================================== */
body {
    color: var(--color-font-body);
    background-color: var(--color-background-body);
    font-family: sans-serif;
}
/* ?============================================== */

.text {
    border: 2px dashed #2196F3;
    padding: 15px;
    margin: 20px;
}

/* box-sizing: content-box | border-box | inherit */

.box {
    /* box-sizing: content-box; */
    /* box-sizing: border-box; */
    width: 150px;
    height: 150px;
    
    /*! border  
    - контролює ширину, 
    стиль 
    і колір рамки 
    (межі) елемента: 
    */
    border: 5px solid #f44336;
    /* Також існують властивості для того, щоб задати ці значення окремо: */
    /* border-width: 5px;
    border-style: solid;
    border-color: #f44336; */

    /*! padding 
    - Збірна властивість контролює 
    внутрішні поля між контентом і рамкою 
    для усіх сторін елемента. 
    Результат роботи залежить від кількості значень властивості: 
    */
    /** Однакові поля по 30px з усіх сторін */
    padding: 30px;
    /** Поля зверху і знизу по 10px, зліва і справа по 20px */
    /* padding: 10px 20px; */
    /** Поле зверху 10px, зліва і справа по 20px, знизу 5px */
    /* padding: 10px 20px 5px; */
    /** Поле зверху 10px, справа 15px, знизу 20px, зліва 25px */
    /* padding: 10px 15px 20px 25px; */
    /*? Встановлення полів кожної сторони окремо: */
    /* padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 30px; */

    /*! margin 
    - контролює зовнішні відступи 
    від рамки для всіх сторін елемента. 
    Результат роботи залежить 
    від кількості значень властивості: 
    */
    /** Однакові відступи по 40px з усіх сторін */
    margin: 40px;
    /** Відступ зверху і знизу по 10px, зліва і справа по 20px */
    /* margin: 10px 20px; */
    /** Відступ зверху 10px, зліва і справа по 20px, знизу 5px */
    /* margin: 10px 20px 5px; */
    /** Відступ зверху 10px, справа 15px, знизу 20px, зліва 25px */
    /* margin: 10px 15px 20px 25px; */
    /*? властивості для встановлення відступів кожної сторони окремо: */
    /* margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-left: 30px; */

    background-color: #ffeb3b;
}

