:root {
    /* *============ ПЕРЕМЕННЫЕ ЦВЕТА body ============ */
    --color-font-body: #990000;
    --color-background-body: #deffe8;
    /* *============================================== */
}

/*! global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', serif;
    /* color: #1f373d; */
    color: var(--color-font-body);
    background-color: var(--color-background-body);

}

a {
    text-decoration: none;
    color: #1f373d;
    /* color: var(--color-font-body); */
}

/* header */
header {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    padding: 35px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    flex-grow: 1;
    font-weight: 600;
    font-size: 25px;
    color: rgb(142, 77, 65);
}

/* .logo {
    color: rgb(5, 162, 0);
} */

/* nav-menu */
nav {
    /* width: 65%; */
    flex-grow: 3;
}

.nav_menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_menu a,
.join_block {
    font-size: 13px;
    font-weight: 400;
}

/* join_block */
.join_block {
    flex-grow: 1;
    text-align: right;
}

.join {
    padding: 0 20px;
    border: none;
    color: var(--color-font-body);
    background: none;
    transition: opacity .3s;
}

.started {
    padding: 14px 25px 13px;
    border: none;
    border-radius: 6px;
    color: var(--color-font-body);
    background: #ffcc01;
    transition: opacity .3s;
}

.join:hover,
.started:hover {
    opacity: .7;
    cursor: pointer;
}